
@mixin respond($breakpoint) { 
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; 
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; 
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; 
  }
  @if $breakpoint == large {
    @media only screen and (min-width: 112.5em) { @content }; 
  }
}

// ----------------------------- //
// ---------- COLOURS ---------- //
// ----------------------------- //

$color-temporary-tester: hotpink;
$color-links-hover: #d2d4d8;
$color-light-grey: #9EACBF;
$color-mid-grey: #555;
$color-dark-grey: #1B1F25;
$color-background1: #7f94b4;
// Buttons:
$color-project-link: #7f94b4;
$color-project-link-hover: #264573; 
$color-project-icon: #7f94b4;

// -------------------------------------------- //
// ---------- PAGE SETUP & OVERRIDES ---------- //
// -------------------------------------------- //
*{ 
  box-sizing:border-box;
  margin: 0;
  padding: 0; 
}
a:link, 
a:visited{
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
// -------------------------------- //
// ---------- TYPOGRAPHY ---------- //
// -------------------------------- //
$font-heading: 'Lato', 'Arial', sans-serif;
$font-links: 'Lato', 'Arial', sans-serif;
$font-text: 'Lato', 'Arial', sans-serif;
$font-heading-header: 'Lato', 'Arial', sans-serif;

html {
  font-size: 62.5%;
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(phone) {
    font-size: 56.25%; 
  }
  @include respond(large) {
    font-size: 75%;
  }
}

body { 
  font-family: $font-text;
  color: $color-mid-grey;
  //Take this out when you're done
  // @include respond(tab-land) { //1200px
  //   color: orangered;
  // }
  // @include respond(tab-port) { //900px
  //   color: green;
  // }
  // @include respond(phone) { //600px
  //   color: blue;
  // }
  // @include respond(large) { //1800px
  //   color: rgb(255, 143, 161);
  // }
}
h1, h2, h3 {
  text-transform: uppercase;
  font-family: $font-heading-header;
  font-weight: 400;
  color: #000;
}
h1 {
  font-weight: 300;
}

// ---------- FONT SIZE ---------- //
body { 
  font-size: 2rem; 
  @include respond(tab-port) {
    font-size: 1.7rem;
  }
  @include respond(phone) {
    font-size: 1.8rem;
  }
}
h1{ 
  font-size: 8rem; 
  @include respond(tab-port) {
    font-size: 7rem;
  }
  @include respond(phone) {
    font-size: 4rem;
  }
}
h2 { font-size: 4rem; }
h3 { 
  font-size: 3rem; 
  @include respond(tab-land) { 
    font-size: 2.5rem;
  }
}
input[type="submit"] {font-size: 2rem;}
.footer{ 
  font-size: 2rem;
}
.header{
  &__navigation-links-link{
    font-size: 2rem;
  }
  &__text{
    &--position,
    &--phrase {
      font-size: 2.6rem;
      font-weight: 100;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
.skills__text--list {
  font-size: 2.2rem;
  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}
.tinkering-tile__image-text{
  font-size: 1.4rem;
}


input[type=text],
input[type=email],
textarea {
  font-size: 2rem;
  @include respond(tab-port) {
    font-size: 1.6rem;
  }
}
// -------------------------------------- //
// ---------- REUSABLE CLASSES ---------- //
// -------------------------------------- //

/* ---------- BUTTONS ----------*/
.btn, 
.btn-icon:link, 
.btn-icon:visited,
input[type="submit"] {
  border: 1px solid $color-light-grey;
  color: white;
  margin: .5rem;
  padding: .5rem 2rem; 
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    padding: .5rem 1.2rem;
    margin: .3rem;
  }
}
.btn:hover, 
.btn-icon:hover,
.btn-icon:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color:$color-dark-grey;
  border: 1px solid $color-dark-grey;
  cursor: pointer;
}
.btn-icon{
  &--linkedin:hover {
    color: #007bb5;
  }
  &--github:hover {
    color: #4078c0;
  }
  &--twitter:hover {
    color: #1da1f2;
  }
  &--codepen:hover {
    color: #d2d4d8;
  }
  &--freecodecamp:hover {
    color: #006400;
  }
}
.btn-icon svg {
  height: 3.5rem;
  @include respond(phone) {
    height: 2.5rem;
  }
}

// ----------------------------------------- //
// ---------- SECTION PAGE LAYOUT ---------- //
// ----------------------------------------- //
//Form section is separate

// ---------- TITLES & CONTENT ---------- //
// 
.section {
  display: flex;
  // For visibility of background images and spacing between sections
  &__container {
    background-color: white;
    height: fit-content;
    @include respond(phone) {
      &:not(.header){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &--left {
      border-radius: 0rem 6.5rem 6.5rem 0rem;
      width:100%;
      @include respond(phone) {
        border-radius: 0rem;
      }
      &.skills{
        margin: 30rem 8rem 20rem 0rem;
        background-color: rgba(255, 255, 255, 0.9);
        @include respond(tab-port) {
          margin: 20rem 4rem 10rem 0rem;
        }
        @include respond(phone) {
          margin: 20rem 0rem 10rem 0rem;
        }
      }
      &.tinkering{
        margin: 30rem 8rem 20rem 0rem;
        background-color: rgba(255, 255, 255, 0.9);
        @include respond(phone) {
          margin: 20rem 0rem 10rem 0rem;
        }
      }
    }
    &--right {
      border-radius: 6.5rem 0rem 0rem 4rem;
      @include respond(phone) {
        border-radius: 0rem;
      }
      &.about{
        margin: 5rem 0rem 5rem 8rem; 
        @include respond(tab-port) {
          margin: 2.5rem 0rem 2.5rem 4rem;
        }
        @include respond(phone) {
          margin: 7rem 0rem;
        }
      }
      &.projects{
        background-color: rgba(255, 255, 255, 0.9);
        margin: 5rem 0rem 5rem 8rem;
        width: 100%;
        @include respond(tab-land) { 
          margin: 5rem 0rem 5rem 5rem;
        }
        @include respond(phone) {
          margin: 5rem 0rem 5rem 0rem;
        }
      }
      &.credits{
        width: 100%;
        margin: 13rem 0rem 5rem 8rem;
      }
    }
    &.header{
      padding: 2rem 10rem .5rem 10rem;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between;
      @include respond(tab-land) { 
        padding: 2rem 5rem;
      }
      @include respond(phone) {
        padding: 1rem;
      }
    }
    &.contact{
      background-color: rgba(255, 255, 255, 0.85);
      justify-content: center;
      width: 80%;
      border-radius: 2rem;
      @include respond(phone) {
        width: 100%;
        border-radius: 0rem;
      }
    }
  }
  //Titles and underlines for h1 elements of each section
  &__title{
    text-transform: uppercase;
    position: absolute;
    margin-top: 2rem;
    @include respond(tab-port) {
      margin-top: 1rem;
    }
     &--left{
      margin-left: 8rem;
      @include respond(phone) {
        margin-left: 0rem;
      }
     }
     &--right{
       width: 85%;
       text-align: right;
       @include respond(phone) {
        width: auto;
        text-align: auto;
      }
    }
  }
  &__title-underline{
    position: absolute;
    height: .6rem;
    width: 50rem;
    background-color: black;
    transform: translateY(7rem);
    @include respond(tab-port) {
      transform: translateY(6rem);
    }
    @include respond(tab-port) {
      width: 40rem;
    }
    @include respond(phone) {
      width: 100%;
    }
    &--right{
      right: 0;
    }
    &--left{
      left: 0;
    }
  }
  // For arrangement of content inside white overlaying 'tab' of content
  &__content{
    display: flex;
    width: 100%;
    &--column {
      flex-direction: column;
      align-items: center;
    }
    &--row {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &.small-content-padding{
      padding: 12rem 5rem 5rem 5rem;
      @include respond(phone) {
        padding: 12rem 2rem 5rem 2rem;
      }
    }
    &.large-content-padding{
      padding: 12rem 12rem 8rem 12rem;
      @include respond(tab-land) { 
        padding: 10rem 8rem 6rem 8rem;
      }
      @include respond(tab-port) {
        padding: 10rem 2rem 2rem 2rem;
      }
      @include respond(phone) {
        padding: 12rem 2rem 5rem 2rem;
      }
    }
    &.projects {
      justify-content: center;  
      margin: 10rem 0rem;
    }
    &.about {
      align-items: center;
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }
}

/* ---------- BACKGROUNDS - IMAGES + COLOURS ----------*/
//Only for setup and alignment of background images, or colour, for each section
.background-fixed {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  &--header{
    // Photo by Jesus Kiteque on Unsplash
    background-image: url(/img/jesus-kiteque-224069-min.jpg);
  }
  &--skills,
  &--projects,
  &--credits{
    // Photo by rawpixel on Unsplash
    background-image: url(/img/rawpixel-558599-unsplash.jpg);
    @include respond(tab-port) {
      background-position: right;
    }
  }
  &--contact{
    // Photo by Jeff Kepler on Unsplash
    background-image: url(/img/jeff-kepler-1085049-unsplash.jpg);
    background-blend-mode: overlay;
    background-color: rgba(rgb(32, 89, 36),0.2);
    justify-content: center;
    align-items: center;
  }
}
.background-plain {
  &--about{
    background-color: $color-background1;
  }
}
// -------------------------------------- //
// ---------- SECTION - HEADER ---------- //
// -------------------------------------- //
.header{
  height: 100vh;
  &__navigation{
    display: flex;
    align-items: center;
    &-logo {
      height: 10rem;
      width: auto;
      margin-right: auto;
      @include respond(phone) {
        height: 7rem;
      }
    }
    &-links{
      position: absolute;
      right: 10rem;
      top: 6rem;
      z-index: 1000;
      @include respond(tab-land) { 
       right: 5rem;
      }
      @include respond(tab-port) { 
        display: none;
      }
      &-link:not(:last-child){
        margin-right: 2rem;
      }
      &-link{
        text-transform: uppercase;
        &:link,
        &:visited{
          color: black;
        }
        &:hover,
        &:active {
          border-bottom: 1px solid black;
          cursor: pointer;
        }
      }
    }
    & .header__navigation-logo--grey{
      display: none;
    }
  }
  &__text{
    margin-top: 10rem;
    @include respond(phone) {
      margin-top: 0rem;
    }
    &--name{
      word-spacing: 1rem;
      letter-spacing: .5rem;
    }
    &--position,
    &--phrase {
      text-transform: uppercase;
      margin-left: .5rem;
    }
  }
  &__links{
    display: flex;
    align-self: center;
  }
}
//For mobile navigation bars + functionality 
.header__navigation {
  &-checkbox{
    display: none;
  }
  &-button{
    // Clickable element connected to checkbox
    position: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    margin-top: 1rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
    @include respond(tab-port) { 
      display: inline-block;
    }
    @include respond(phone) {
      margin-right: 1rem;
    }
  }
  &-icon{
    position: relative;
    margin-top: 2rem;
    margin-left: .5rem;
    z-index: 1001;
    &,
    &::before,
    &::after{
      width: 3.5rem;
      height: .6rem;
      background-color:  $color-dark-grey;
      display: inline-block;
    }
    &::before, 
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }
    &::before {
      top: -1.2rem;
    }
    &::after {
      top: 1.2rem;
    }
  }
  &-button:hover &-icon:before {
    top: -1.5rem;
  }
  &-button:hover &-icon:after {
    top: 1.5rem;
  }
  &-checkbox:checked + &-button &-icon{
    background-color: transparent;
  }
  &-checkbox:checked + &-button &-icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: $color-dark-grey;
    width: 4rem;
    @include respond(phone) {
      background-color: $color-light-grey;
    }
    
  }
  &-checkbox:checked + &-button &-icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: $color-dark-grey;
    width: 4rem;
    @include respond(phone) {
      background-color: $color-light-grey;
    }
  }
  // Functionality of button
  &-checkbox:checked ~ &-links {
    //Had to put this into 'tab-port' media query, otherwise the box would hang around when window was made larger, if the checkbox was checked. 
    @include respond(tab-port) { 
      display: block;
      margin-top: 5rem;
      padding: 2rem 3rem;
      border-radius: 1rem;
      background-color: $color-dark-grey;
      @include respond(phone) {
        display: absolute;
        top: 0;
        left: 0;
        margin: 0rem;
        border-radius: 0rem;
        background-color: $color-dark-grey;
        height: 100vh;
        width: 100vw;
      }
      & .header__navigation-links-link{
        display: block;
        margin: 0;
        text-align: center;
        margin: 20% 0rem;
        color: $color-light-grey;
        &:hover,
        &:active {
          border-bottom: 1px solid white;
          cursor: pointer;
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: $color-dark-grey;
  padding: .5rem 10rem;
  align-items: center;
  z-index: 1001;
  @include respond(tab-port) {
    padding: .5rem 5rem;
  }
  @include respond(phone) {
    padding: .5rem 2rem;
  }
  & .header__navigation-logo{
    height: 5rem;
  }
  & .header__navigation-links{
    top: 2rem;
  }
  & .header__navigation-links-link{
    color: $color-light-grey;
  }
  & .header__navigation-logo {
    display: none;
  }
  & .header__navigation-logo--grey {
    display: block;
    margin-right: auto;
    height: 5rem;
  }
}

// Mobile Sticky navigation
.header__navigation.sticky{
  @include respond(tab-port) {
    & .header__navigation{
      &-button{
        top: 1rem;
        right: 4rem;
      }
      &-icon{
        &,
        &::before,
        &::after {
          background-color:  $color-light-grey;    
        }
      }
    }
  }
}
.header__navigation.sticky .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::before,
.header__navigation.sticky .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::after {
  background-color: $color-light-grey;
}

// Headers for linked pages from main page. Simple. 
.header__navigation--sidepage{
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: $color-dark-grey;
  padding: .5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  & .header__navigation-logo--sidepage{
    height: 5rem;
  }
  & .header__navigation-links-link--sidepage{
    color: $color-light-grey;
  }
}

// ------------------------------------- //
// ---------- SECTION - ABOUT ---------- //
// ------------------------------------- //
.about-me {
  &__image {
    height: 30rem;
    border-radius: 20%;
  }
  &__description {
    line-height: 1.5;
    text-align: justify;
    margin-left: 3rem;
    @include respond(tab-port) {
      margin: 2rem;
    }
    @include respond(phone) {
      line-height: 1.2;
      margin: 1rem;
    }

  }
}
// -------------------------------------- //
// ---------- SECTION - SKILLS ---------- //
// -------------------------------------- //
.skills{
  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    @include respond(tab-land) {
      text-align: center;
    }
    &--list{
      margin-left: 2rem;
      @include respond(tab-port) {
        margin-left: 0rem;
        text-align: center;
      }
    }
  }
  &__tiles{
    display: flex;
    margin: 3.5rem 0rem 6.5rem 0rem;
    flex-wrap: wrap;
    justify-content: center;
    &-tile{
      padding: 1.5rem;
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      @include respond(tab-port) {
        padding: .5rem;
      }

      &-logo{
        height: 8rem;
        @include respond(phone) {
          height: 6.5rem;
        }
        &.sass{
          height: 7.5rem;
          @include respond(phone) {
            height: 5rem;
          }
        }
        &.javascript{
          @include respond(tab-port) {
            height: 7rem;
            @include respond(phone) {
              height: 5.5rem;
            }
          }
        }
        &.github{
          height: 9rem;
          transform: translateY(1rem);
          @include respond(phone) {
            height: 7rem;
            transform: translateY(.8rem);
          }
        }
        &.npm{
          height: 5rem;
          @include respond(tab-land) { 
            height: 4rem;
          }
          @include respond(tab-port) {
            height: 3rem;
          }
        }
        &.trello{
          color: #0084D1;
          height: 8rem;
          width: 8rem;
          @include respond(tab-land) { 
            height: 7rem;
            width: 7rem;
          }
          @include respond(phone) {
            height: 6rem;
            width: 6rem;
          }
        }
        &.zeplin{
          @include respond(tab-land) { 
            height: 7rem;
          }
          @include respond(phone) {
            height: 6rem;
          }
        }
        &.slack{
          @include respond(tab-land) { 
            height: 7rem;
            @include respond(tab-port) {
              height: 6rem;
            }
            @include respond(phone) {
              height: 5rem;
            }
          }
        }
        &.rails{
          height: 6rem;
          @include respond(tab-land) { 
            height: 5rem;
          }
          @include respond(phone) {
            height: 3rem;
          }
        }
        &.angular{
          height: 7rem;
          @include respond(tab-land) { 
            height: 6rem;
          }
          @include respond(phone) {
            height: 5rem;
          }
        }
      }
    }
  }
}
.trello {
  width: 11rem;
  height: 11rem;
}

// -------------------------------------------------------------- //
// ---------- SHARED SECTION ELEMTNS - PROJECTS & TOOLS---------- //
// -------------------------------------------------------------- //
.tool-icon {
  width: 4rem;
  height: 4rem;
  margin: 0rem 1rem;
  color: $color-project-icon;
  @include respond(phone) {
    margin: 0rem .5rem;
  }
}

// ---------------------------------------- //
// ---------- SECTION - PROJECTS ---------- //
// ---------------------------------------- //
.project{
  &__tile{
    height: 25rem;
    border: 5px solid transparent;
    border-radius: .5rem;
    margin: 0rem 5rem;
    &:hover{
      border: 5px solid orange; 
    }
  }
}

// .project-tile-full {
//   background-color: white;
//   display: flex; 
//   align-items: center;
//   width: 80rem;
//   border-radius: 3.5rem;
//   margin: 3.5rem auto;
//   box-shadow: 8px 8px 40px 8px $color-dark-grey;
//   padding: 2.5rem;
//   @include respond(tab-land) { 
//     width: 70rem;
//   }
//   @include respond(tab-port) {
//     width: 100%;
//     flex-direction: column;
//     margin: 0rem;
//     margin-bottom: 6rem;
//   }
//   @include respond(phone) {
//     width: 100%;
//     margin: 4rem 1rem;
//     padding: 0rem;
//     box-shadow: none;
//     background-color: transparent;
//   }
//   &__left{
//     flex: 1 1 40%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     @include respond(tab-land) { 
//       flex: 1 1 30%;
//     }
//     &-image{
//       width: 80%;
//       border: 5px solid transparent;
//       border-radius: .5rem;
//       &:hover{
//         border: 5px solid orange; 
//       }
//       @include respond(tab-port) {
//        width: auto;
//        max-height: 25rem;
//       }
//       @include respond(phone) {
//         height: 20rem;
//         border: 1px solid $color-project-link;
//       }
//     }
//     &-links{
//       margin-top: 2rem;
//       @include respond(phone) {
//         margin-top: 1rem;
//         margin-bottom: 1rem;
//       }
//       &-link{
//         margin: 0rem 1rem;
//         @include respond(phone) {
//           margin: 0rem .5rem;
//         }
//         &:link,
//         &:visited{
//           color: $color-project-link;
//         }
//         &:hover,
//         &:active {
//           cursor: pointer;
//           color: $color-project-link-hover;
//         }
//       }
//       &-icon{
//         height: 5rem;
//         width: 5rem;
//         @include respond(phone) {
//           height: 4rem;
//           width: 4rem;
//         }
//       }
//     }
//   }
//   &__right{
//     flex: 1 1 60%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     font-family: $font-text;
//     &-title{
//       font-family: $font-heading;
//       font-weight: 400;
//       margin-bottom: 2rem;
//       border-bottom: 1px solid black;
//       @include respond(tab-port) {
//         display: none;
//       }
//     }
//     &-description{
//       text-align: justify;
//       line-height: 1.5;
//       @include respond(phone) {
//         line-height: 1.2;
//       }
//     }
//     &-tools{
//       margin: 2rem 0rem;
//       &-icons{
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         @include respond(phone) {
//           margin-top: 1rem;
//         }
//         &-icon{
      
//         }
//       }
//     }
//   }
// }

// ----------------------------------------- //
// ---------- SECTION - TINKERING ---------- //
// ----------------------------------------- //
.tinkering-tile{
  background-color: white;
  width: 50rem;
  border-radius: 3.5rem;
  margin: 4rem;
  box-shadow: 5px 5px 25px 5px $color-dark-grey;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(tab-port) {
    margin: 0rem;
    margin-bottom: 6rem;
  }
  @include respond(phone) {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 4rem 0rem;
  }
  &__title{
    font-family: $font-heading;
    font-weight: 400;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
    text-align: center;
  }
  &__image{
    width: 70%;
    height: 20rem;
    border: 5px solid white; 
    border-radius: 1rem;
    @include respond(phone) {
     width: 100%; 
     max-width: 35rem;
    }
    &:hover{
      border: 5px solid orange; 
    }
    &-link{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__description{
    margin: 2rem 0rem;
    text-align: justify;
    &-icon{
      &-icon{
        width: 1.5rem;
      }
    }
    &-learning-objectives{
      margin-top: 2rem;
      text-align: left;
      &-items{
        margin-left: 3rem;
        @include respond(phone) {
          margin-left: 2rem;
        }
        &-item{
          text-indent: -1.6rem;
          &::before{
            content: "";
            display: inline-block;
            height: 0rem;
            width: 0rem;
            border: 3px solid black;
            border-radius: 50%;
            margin-right: .7rem;
            transform: translateY(-3px);
          }
        }
      }
    }
  }
  &__tools{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}
// --------------------------------------- //
// ---------- SECTION - CONTACT ---------- //
// --------------------------------------- //

.section__contact-title{
  font-weight: 300;
  margin-top: 2rem;
  &-underline{
    height: .6rem;
    width: 50rem;
    background-color: black;
    margin-bottom: 4rem;
    @include respond(tab-port) {
      width: 35rem;
    }
    @include respond(phone) {
      width: 100%;
    }
    &--contact{
      height: .3rem;
    }
  }
}
.contact-form{
  width: 70%;
  margin-bottom: 3rem;
  @include respond(phone) {
    width: 90%;
  }
  &__group{
    display: flex;
    margin: 1rem 0rem;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__label{
    flex: 0 0 35%;
  }
  &__input,
  &__textarea {
    flex: 1 1 65%;
    line-height: 1.15;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #9EACBF;
    width: 100%;
  }
  &__textarea{
    height: 10rem;
  }
}

// -------------------------------------- //
// ---------- SECTION - FOOTER ---------- //
// -------------------------------------- //
.footer {
  background-color: $color-dark-grey;
  padding: 3rem;
  color:  #8994a3;
  &__links{
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
    &-navigation{
      @include respond(tab-port) {
        margin-bottom: 2rem;
      }
      @include respond(phone) {
        display: none;
      }
    }
  }
  &__link{
    margin: 0rem 1rem;
    @include respond(phone) {
      margin: 0rem 1rem;
    }
    &:link, 
    &:visited{
      color:  $color-light-grey;
      transition: color 0.2s;
    }
    &:hover, 
    &:active {
      color: $color-links-hover;
    }
    &--linkedin:hover {
      color: #007bb5;
    }
    &--github:hover {
      color: #4078c0;
    }
    &--twitter:hover {
      color: #1da1f2;
    }
    &--codepen:hover {
      color: #d2d4d8;
    }
    &--freecodecamp:hover {
      color: #006400;
    }
  }
  &__copyright{
    text-align: center;
    @include respond(tab-land) {
      margin-top: 2rem;
    }
  }
  &__projects{
    text-align: center;
    &-link:link, 
    &-link:visited {
      color: $color-light-grey;
      transition: color 0.2s;
    }
    &-link:hover,
    &-link:active{
      color: $color-links-hover;
    }
  }
}
.footer__link-icon {
  height: 3rem;
  @include respond(phone) {
    height: 2.5rem;
  }
}
// ---------------------------------------------- //
// ---------- MOBILE-SPECIFIC ELEMENTS ---------- //
// ---------------------------------------------- //
.mobile-element {
  display: none;
  @include respond(phone) {
    display: inline-block;
  }
}


// ----------------------------------------- //
// ---------- PAGE - PROJECT INFO ---------- //
// ----------------------------------------- //

.project{
  &__content{
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__visit-site{
    width: fit-content;
    margin-right: 0%;
  }

  &__slider{
    width: 80%;
    max-width: 70rem;
    margin: 5rem auto 7rem auto;
  }

  &__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    &-btn{
      width: 22rem;
    }
  }
  &__writeup{
    &-text{
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    &-list{
      margin-left: 5rem;
      margin-top: -3rem;
    }
  }
}

// To do list: 
// Animations
// Do Tech By Us Links - website & github
// Tinkering - (Codepen) (project guidelines)
// Javascript to uncheck box, maybe?


//TECH BY US - page - add code links 