// @include respond(tab-land) { //1200px
// }
// @include respond(tab-port) { //900px
// }
// @include respond(phone) { //600px
// }
// @include respond(large) { //1800px
// }

@mixin respond($breakpoint) { 
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; 
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; 
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; 
  }
  @if $breakpoint == large {
    @media only screen and (min-width: 112.5em) { @content }; 
  }
}

// ----------------------------- //
// ---------- COLOURS ---------- //
// ----------------------------- //

$color-temporary-tester: hotpink;
$color-light-grey: #9EACBF;
$color-mid-grey: #555;
$color-dark-grey: #1B1F25;
$color-background1: #7f94b4;
// Buttons:
$color-project-link: #7f94b4;
$color-project-link-hover: #264573; 
$color-project-icon: #7f94b4;

// -------------------------------------------- //
// ---------- PAGE SETUP & OVERRIDES ---------- //
// -------------------------------------------- //
*{ 
  box-sizing:border-box;
  margin: 0;
  padding: 0; 
}
a:link, 
a:visited{
  text-decoration: none;
}
// -------------------------------- //
// ---------- TYPOGRAPHY ---------- //
// -------------------------------- //
$font-heading: 'Lato', 'Arial', sans-serif;
$font-links: 'Lato', 'Arial', sans-serif;
$font-text: 'Lato', 'Arial', sans-serif;
$font-heading-header: 'Lato', 'Arial', sans-serif;

html {
  font-size: 62.5%;

  // @include respond(phone) {
  //   font-size: 56.25% // 1rem=9px, 9/16 = 56.25% - Base is 9px
  // }
  // @include respond(big) {
  //   font-size: 75%; //1rem=12px, 12/16 = 75% - Base is 12px
  // }
}

body { 
  font-family: $font-text;
  color: $color-mid-grey;
  //Take this out when you're done
  @include respond(tab-land) { //1200px
    color: orangered;
  }
  @include respond(tab-port) { //900px
    color: green;
  }
  @include respond(phone) { //600px
    color: blue;
  }
  @include respond(large) { //1800px
    color: grey;
  }

}
h1, h2, h3 {
  text-transform: uppercase;
  font-family: $font-heading-header;
  font-weight: 400;
  color: #000;
}
h1 {
  font-weight: 300;
}

// ---------- FONT SIZE ---------- //
body { font-size: 2rem; }
h1{ font-size: 8rem; }
h2 { font-size: 4rem; }
h3 { 
  font-size: 3rem; 
  @include respond(tab-land) { 
    font-size: 2.5rem;
  }
}
p { font-size: 2.0rem; }
input[type="submit"] {font-size: 2rem;}
.footer{ 
  font-size: 2rem;
  &__copyright{
    font-size: 1.6rem;
  }
}
.header{
  &__text{
    &--position,
    &--phrase {
      font-size: 2.6rem;
      font-weight: 100;
    }
  }
}
.skills__text--list {
  font-size: 2.2rem;
}
// -------------------------------------- //
// ---------- REUSABLE CLASSES ---------- //
// -------------------------------------- //

/* ---------- BUTTONS ----------*/
.btn-icon:link, 
.btn-icon:visited,
input[type="submit"] {
  border: 1px solid $color-light-grey;
  color: white;
  margin: .5rem;
  padding: .5rem 2rem; 
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-icon:hover,
.btn-icon:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color:$color-dark-grey;
  border: 1px solid $color-dark-grey;
  cursor: pointer;
}
.btn-icon{
  &--linkedin:hover {
    color: #007bb5;
  }
  &--github:hover {
    color: #4078c0;
  }
  &--twitter:hover {
    color: #1da1f2;
  }
  &--codepen:hover {
    color: #d2d4d8;
  }
  &--freecodecamp:hover {
    color: #006400;
  }
}
.btn-icon svg {
  height: 3.5rem;
}

// ----------------------------------------- //
// ---------- SECTION PAGE LAYOUT ---------- //
// ----------------------------------------- //
//Form section is separate

// ---------- TITLES & CONTENT ---------- //
.section {
  display: flex;
  &__container {
    background-color: white;
    height: fit-content;
    &--left {
      border-radius: 0rem 6.5rem 6.5rem 0rem;
      width:100%;
      &.skills{
        margin: 30rem 8rem 20rem 0rem;
        background-color: rgba(255, 255, 255, 0.9);
      }
      &.tinkering{
        margin: 30rem 8rem 20rem 0rem;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
    &--right {
      border-radius: 6.5rem 0rem 0rem 4rem;
      &.about{
        margin: 5rem 0rem 5rem 8rem; 
      }
      &.projects{
        background-color: rgba(255, 255, 255, 0.9);
        margin: 5rem 0rem 5rem 8rem;
        width: 100%;
        @include respond(tab-land) { 
          margin: 5rem 0rem 5rem 5rem;
        }
      }
      &.credits{
        width: 100%;
        margin: 13rem 0rem 5rem 8rem;

      }
    }
    &.header{
      padding: 2rem 10rem .5rem 10rem;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between;
    }
    &.contact{
      background-color: rgba(255, 255, 255, 0.9);
      justify-content: center;
      width: 80%;
      border-radius: 2rem;
    }
  }
  &__title{
    text-transform: uppercase;
    position: absolute;
    margin-top: 2rem;
     &--left{
      margin-left: 8rem;
     }
     &--right{
       width: 85%;
       text-align: right;
     }
  }
  &__title-underline{
    position: absolute;
    height: .6rem;
    width: 50rem;
    background-color: black;
    transform: translateY(7rem);
    &--right{
      right: 0;
    }
    &--left{
      left:0;
    }
  }
  &__content{
    display: flex;
    width: 100%;
    &--column {
      flex-direction: column;
      align-items: center;
    }
    &--row {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &.small-content-padding{
      padding: 12rem 5rem 5rem 5rem;
    }
    &.large-content-padding{
      padding: 12rem 12rem 8rem 12rem;
      @include respond(tab-land) { //1200px
        padding: 10rem 8rem 6rem 8rem;
      }
    }
    &.about {
      align-items: center;
    }
  }
}

/* ---------- BACKGROUNDS - IMAGES + COLOURS ----------*/
.background-fixed {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  &--header{
    // Photo by Jesus Kiteque on Unsplash
    background-image: url(/img/jesus-kiteque-224069-min.jpg);
  }
  &--skills,
  &--projects,
  &--credits{
    // Photo by rawpixel on Unsplash
    background-image: url(/img/rawpixel-558599-unsplash.jpg);
  }
  &--contact{
    // Photo by Jeff Kepler on Unsplash
    background-image: url(/img/jeff-kepler-1085049-unsplash.jpg);
    background-blend-mode: overlay;
    background-color: rgba(rgb(32, 89, 36),0.2);
    justify-content: center;
    align-items: center;
  }
}
.background-plain {
  &--about{
    background-color: $color-background1;
  }
}

// -------------------------------------- //
// ---------- SECTION - HEADER ---------- //
// -------------------------------------- //
.header{
  height: 100vh;
  &__navigation{
    display: flex;
    align-items: center;
    &-logo {
      height: 10rem;
      width: auto;
      margin-right: auto;
    }
    &-links{
      height: 6rem;
      display: flex;
      align-items: center;
      padding: 1.5rem;
      &-link{
        text-transform: uppercase;
        margin-right: 2rem;
        &:link,
        &:visited{
          color: black;
        }
        &:hover,
        &:active {
          border-bottom: 1px solid black;
          cursor: pointer;
        }
      }
    }
    & .header__navigation-logo--grey{
      display: none;
    }
  }
  &__text{
    margin-top: 10rem;
    &--name{
      word-spacing: 1rem;
      letter-spacing: .5rem;
    }
    &--position,
    &--phrase {
      text-transform: uppercase;
      margin-left: .5rem;
    }
  }
  &__links{
    display: flex;
    align-self: center;
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  z-index: 9999;
  background-color: $color-dark-grey;
  padding: .5rem 10rem;
  align-items: center;
  & .header__navigation-logo{
    height: 5rem;
  }
  & .header__navigation-links-link{
    color: $color-light-grey;
  }
  & .header__navigation-logo {
    display: none;
  }
  & .header__navigation-logo--grey {
    display: block;
    margin-right: auto;
    height: 5rem;
  }
}

.header__navigation {
  &-checkbox{
    display:none;
  }
  &-button{
    // Label connected to the checkbox - THIS is the clickable element
    background-color: orangered;
    height: 3.5rem;
    width: 3.5rem;
    position: relative; 
    cursor: pointer;
    // z-index: 9000;
    text-align: center;
  }
  &-icon{
    position: relative;
    margin-top: 1.5rem; 

    &,
    &::before,
    &::after{
      width: 3rem;
      height: .5rem;
      background-color:  $color-dark-grey;
      // background-color:  green;
      display: inline-block;
      z-index: 9001;
    }

    &::before, 
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s; // For open/close X animation
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
  
  &-button:hover &-icon:before {
    top: -1.2rem;
  }
  &-button:hover &-icon:after {
    top: 1.2rem;
  }
}
// .header{

//   &__navigation-button {
//     background-color: $color-white;


//     border-radius: 50%;
//     position: fixed;
//     top: 6rem;
//     right: 6rem;
//     z-index: 2000;
//     box-shadow: 0 1rem 3rem rgba($color-black, .1);


//     @include respond(tab-port) {
//         top: 4rem;
//         right: 4rem;
//     }
//     @include respond(phone) {
//         top: 3rem;
//         right: 3rem;
//     }
//   }
// }


//   // 3 BAR ICON
//   &__navigation-icon {

//   &-button:hover &-icon:before {
//     top: -1.2rem;
//   }
//   &-button:hover &-icon:after {
//     top: 1.2rem;
//   }

//   // For open/close X animation
//   &-checkbox:checked + &-button &-icon {
//     background-color: transparent;
//   }
//   &-checkbox:checked + &-button &-icon::before {
//     top: 0;
//     transform: rotate(135deg);
//     background-color: $color-secondary-white;
//     width: 3rem;
//   }
//   &-checkbox:checked + &-button &-icon::after {
//     top: 0;
//     transform: rotate(-135deg);
//     background-color: $color-secondary-white;
//     width: 3rem;
//   }

//   // Functionality of button
//   &-checkbox:checked ~ &-nav{
//     opacity: 1;
//     width: 27rem;
//     transition: all .2s;
//   }
// }





// ------------------------------------- //
// ---------- SECTION - ABOUT ---------- //
// ------------------------------------- //
.about-me {
  &__image {
    height: 30rem;
    border-radius: 20%;
  }
  &__description {
    line-height: 1.5;
    text-align: justify;
    margin-left: 3rem;
  }
}
// -------------------------------------- //
// ---------- SECTION - SKILLS ---------- //
// -------------------------------------- //
.skills{
  &__text {
    display: flex;
    align-items:center;
    flex-direction: column;
    &--list{
      margin-left: 2rem;
    }
  }
  &__tiles{
    display: flex;
    margin: 3.5rem 0rem 6.5rem 0rem;

    &-tile{
      padding: 1.5rem;
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      
      &-logo{
        height: 8rem;
        &.github{
          height: 9rem;
        }
        &.npm{
          height: 5rem;
          @include respond(tab-land) { 
            height: 4rem;
          }
        }
        &.trello{
          color: #0084D1;
          height: 8rem;
          @include respond(tab-land) { 
            height: 7rem;
          }
        }
        &.zeplin{
          @include respond(tab-land) { 
            height: 7rem;
          }
        }
        &.slack{
          @include respond(tab-land) { 
            height: 7rem;
          }
        }
        &.rails{
          height: 6rem;
          @include respond(tab-land) { 
            height: 5rem;
          }
        }
        &.angular{
          height: 7rem;
          @include respond(tab-land) { 
            height: 6rem;
          }
        }
      }
    }
  }
}
.trello {
  width: 11rem;
  height: 11rem;
}

// -------------------------------------------------------------- //
// ---------- SHARED SECTION ELEMTNS - PROJECTS & TOOLS---------- //
// -------------------------------------------------------------- //
.tool-icon {
  width: 4rem;
  height: 4rem;
  margin: 0rem 1rem;
  color: $color-project-icon;
}

// ---------------------------------------- //
// ---------- SECTION - PROJECTS ---------- //
// ---------------------------------------- //
.project-tile-full {
  background-color: white;
  display: flex; 
  align-items: center;
  width: 80rem;
  border-radius: 3.5rem;
  margin: 3.5rem auto;
  box-shadow: 8px 8px 40px 8px $color-dark-grey;
  padding: 2.5rem;
  @include respond(tab-land) { 
    width: 70rem;
  }
  &__left{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(tab-land) { 
      flex: 1 1 30%;
    }
    &-image{
      width: 80%;
      border: 2px solid $color-project-link; 
      border-radius: .5rem;
    }
    &-links{
      margin-top: 2rem;
      &-link{
        margin: 0rem 1rem;
        &:link,
        &:visited{
          color: $color-project-link;
        }
        &:hover,
        &:active {
          cursor: pointer;
          color: $color-project-link-hover;
        }
      }
      &-icon{
        height: 5rem;
        width: 5rem;
      }
    }
  }
  &__right{
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-text;
    &-title{
      font-family: $font-heading;
      font-weight: 400;
      margin-bottom: 2rem;
      border-bottom: 1px solid black;
    }
    &-description{
      text-align: justify;
      line-height: 1.5;
    }
    &-tools{
      margin: 2rem 0rem;
      &-text{  
      }
      &-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-icon{

        }
      }
    }
  }
}

// ----------------------------------------- //
// ---------- SECTION - TINKERING ---------- //
// ----------------------------------------- //
.tinkering-tile{
  background-color: white;
  width: 50rem;
  border-radius: 3.5rem;
  margin: 4rem;
  box-shadow: 5px 5px 25px 5px $color-dark-grey;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    font-family: $font-heading;
    font-weight: 400;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
  }
  &__image{
    width: 70%;
    height: 20rem;
    border: 5px solid white; 
    border-radius: 1rem;
    &:hover{
      border: 5px solid orange; 
    }
    &-link{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-text{
      font-size: 1.4rem;
    }
  }
  &__description{
    margin: 2rem 0rem;
    &-icon{
      &-icon{
        width: 1.5rem;
      }
    }
    &-learning-objectives{
      margin-top: 2rem;
      &-items{
         margin-left: 3rem;
        &-item{
          text-indent: -1.6rem;
          &::before{
            content: "";
            display: inline-block;
            height: 0rem;
            width: 0rem;
            border: 3px solid black;
            border-radius: 50%;
            margin-right: .7rem;
            transform: translateY(-3px);
          }
        }
      }
    }
  }
  &__tools{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}
// --------------------------------------- //
// ---------- SECTION - CONTACT ---------- //
// --------------------------------------- //

.section__contact-title{
  font-weight: 300;
  margin-top: 2rem;
  &-underline{
    height: .6rem;
    width: 50rem;
    background-color: black;
    margin-bottom: 4rem;
    &--contact{
      height: .3rem;
    }
  }
}

.contact-form{
  width: 70%;
  margin-bottom: 3rem;

  &__group{
    display: flex;
    margin: 1rem 0rem;
  }
  &__label{
    flex: 0 0 35%;
  }
  &__input,
  &__textarea {
    flex: 1 1 65%;
    line-height: 1.15;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #9EACBF;
 
  }
  &__textarea{
    height: 10rem;
  }
}

input[type=text],
input[type=email],
textarea {
  font-size: 2rem;
}

// -------------------------------------- //
// ---------- SECTION - FOOTER ---------- //
// -------------------------------------- //
footer{
  background-color: $color-dark-grey;
  padding: 3rem;
  color:  #8994a3;
}
.footer {
  &__links{
    display: flex;
    justify-content: space-between;
  }
  &__link{
    margin: 0rem 1rem;
    &:link, 
    &:visited{
      color:  #8994a3;
      transition: color 0.2s;
    }
    &:hover, 
    &:active {
      color: #d2d4d8;
    }
    &--linkedin:hover {
      color: #007bb5;
    }
    &--github:hover {
      color: #4078c0;
    }
    &--twitter:hover {
      color: #1da1f2;
    }
    &--codepen:hover {
      color: #d2d4d8;
    }
    &--freecodecamp:hover {
      color: #006400;
    }
  }
  &__copyright{
    text-align: center;
  }
}
.footer__link-icon {
  height: 3rem;
}
// ---------------------------------------------- //
// ---------- MOBILE-SPECIFIC ELEMENTS ---------- //
// ---------------------------------------------- //
.mobile-element {
  display: none;
}

.tester {
  background-color: orangered;
}

// ------------------------------- //
// ---------- IMPRESSUM ---------- //
// ------------------------------- //
.credits__page{
  min-height: 100vh;
}
.header__navigation.credits{
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: $color-dark-grey;
  padding: .5rem 10rem;
  align-items: center;
  height: fit-content;
  & .header__navigation-logo{
    height: 5rem;
  }
  & .header__navigation-links-link{
    color: $color-light-grey;
  }
}


// To do list: 
// **Responsive
// Animations
//Do Tech By Us Links - website & github
//HOver on tinkering projects
// Tinkering - (Codepen) (project guidelines)