
@mixin respond($breakpoint) { 
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; 
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; 
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; 
  }
  @if $breakpoint == large {
    @media only screen and (min-width: 112.5em) { @content }; 
  }
}

// ----------------------------- //
// ---------- COLOURS ---------- //
// ----------------------------- //

$color-temporary-tester: hotpink;
$color-links-hover: #d2d4d8;
$color-light-grey: #9EACBF;
$color-mid-grey: #555;
$color-dark-grey: #1B1F25;
$color-background1: #7f94b4;
// Buttons:
$color-project-link: #7f94b4;
$color-project-link-hover: #264573; 
$color-project-icon: #7f94b4;

// -------------------------------------------- //
// ---------- PAGE SETUP & OVERRIDES ---------- //
// -------------------------------------------- //
*{ 
  box-sizing:border-box;
  margin: 0;
  padding: 0; 
}
a:link, 
a:visited{
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
// -------------------------------- //
// ---------- TYPOGRAPHY ---------- //
// -------------------------------- //
$font-heading: 'Lato', 'Arial', sans-serif;
$font-links: 'Lato', 'Arial', sans-serif;
$font-text: 'Lato', 'Arial', sans-serif;
$font-heading-header: 'Lato', 'Arial', sans-serif;

html {
  font-size: 62.5%;
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(phone) {
    font-size: 56.25%; 
  }
  @include respond(large) {
    font-size: 75%;
  }
}

body { 
  font-family: $font-text;
  color: $color-mid-grey;
  //Take this out when you're done
  // @include respond(tab-land) { //1200px
  //   color: orangered;
  // }
  // @include respond(tab-port) { //900px
  //   color: green;
  // }
  // @include respond(phone) { //600px
  //   color: blue;
  // }
  // @include respond(large) { //1800px
  //   color: rgb(255, 143, 161);
  // }
}
h1, h2, h3 {
  text-transform: uppercase;
  font-family: $font-heading-header;
  font-weight: 400;
  color: #000;
}
h1 {
  font-weight: 300;
}

input[type=text],
input[type=email],
textarea {
  font-family: $font-text;
}

// ---------- FONT SIZE ---------- //
body { 
  font-size: 2rem; 
  @include respond(tab-port) {
    font-size: 1.7rem;
  }
  @include respond(phone) {
    font-size: 1.8rem;
  }
}
h1{ 
  font-size: 8rem; 
  @include respond(tab-port) {
    font-size: 7rem;
  }
  @include respond(phone) {
    font-size: 4rem;
  }
}
h2 { font-size: 4rem; }
h3 { 
  font-size: 3rem; 
  @include respond(tab-land) { 
    font-size: 2.5rem;
  }
}
input[type="submit"] {font-size: 2rem;}
.footer{ 
  font-size: 2rem;
}
.header{
  &__navigation-links-link{
    font-size: 2rem;
  }
  &__text{
    &--position,
    &--phrase {
      font-size: 2.6rem;
      font-weight: 100;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
.skills__text--list {
  font-size: 2.2rem;
  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}
.tinkering-tile__image-text{
  font-size: 1.4rem;
}

input[type=text],
input[type=email],
textarea {
  font-size: 2rem;
  @include respond(tab-port) {
    font-size: 1.6rem;
  }
}
// -------------------------------------- //
// ---------- REUSABLE CLASSES ---------- //
// -------------------------------------- //

/* ---------- BUTTONS ----------*/
.btn, 
.btn-icon:link, 
.btn-icon:visited,
input[type="submit"] {
  border: 1px solid $color-light-grey;
  color: white;
  margin: .5rem;
  padding: .5rem 2rem; 
  text-decoration: none;
  border-radius: 20rem;
  -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    padding: .5rem 1.2rem;
    margin: .3rem;
  }
}
.btn:hover, 
.btn-icon:hover,
.btn-icon:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color:$color-dark-grey;
  border: 1px solid $color-dark-grey;
  cursor: pointer;
}
.btn-icon{
  &--linkedin:hover {
    color: #007bb5;
  }
  &--github:hover {
    color: #4078c0;
  }
  &--twitter:hover {
    color: #1da1f2;
  }
  &--codepen:hover {
    color: #d2d4d8;
  }
  &--freecodecamp:hover {
    color: #006400;
  }
}
.btn-icon svg {
  height: 3.5rem;
  @include respond(phone) {
    height: 2.5rem;
  }
}
.btn-coming-soon:hover {
  background-color: $color-light-grey;
  border: 1px solid $color-light-grey;
  cursor: auto;
}

// ----------------------------------------- //
// ---------- SECTION PAGE LAYOUT ---------- //
// ----------------------------------------- //
//Form section is separate

// ---------- TITLES & CONTENT ---------- //
// 
.section {
  display: flex;
  // For visibility of background images and spacing between sections
  &__container {
    background-color: white;
    height: fit-content;
    @include respond(phone) {
      &:not(.header){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &--left {
      border-radius: 0rem 6.5rem 6.5rem 0rem;
      width:100%;
      @include respond(phone) {
        border-radius: 0rem;
      }
      &.skills{
        margin: 10rem 8rem 15rem 0rem;
        background-color: rgba(255, 255, 255, 0.9);
        @include respond(tab-port) {
          margin: 20rem 4rem 10rem 0rem;
        }
        @include respond(phone) {
          margin: 20rem 0rem 10rem 0rem;
        }
      }
    }
    &--right {
      border-radius: 6.5rem 0rem 0rem 4rem;
      @include respond(phone) {
        border-radius: 0rem;
      }
      &.about{
        margin: 10rem 0rem 10rem 8rem; 
        @include respond(tab-port) {
          margin: 2.5rem 0rem 2.5rem 4rem;
        }
        @include respond(phone) {
          margin: 7rem 0rem;
        }
      }
      &.projects{
        background-color: rgba(255, 255, 255, 0.9);
        margin: 5rem 0rem 20rem 8rem;
        width: 100%;
        @include respond(tab-land) { 
          margin: 5rem 0rem 5rem 5rem;
        }
        @include respond(phone) {
          margin: 5rem 0rem 5rem 0rem;
        }
      }
      &.credits{
        width: 100%;
        margin: 13rem 0rem 5rem 8rem;
      }
    }
    &.header{
      padding: 2rem 10rem .5rem 10rem;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between;
      @include respond(tab-land) { 
        padding: 2rem 5rem;
      }
      @include respond(phone) {
        padding: 1rem;
      }
    }
    &.contact{
      background-color: rgba(255, 255, 255, 0.85);
      justify-content: center;
      width: 80%;
      border-radius: 2rem;
      @include respond(phone) {
        width: 100%;
        border-radius: 0rem;
      }
    }
  }
  //Titles and underlines for h1 elements of each section

  // New Title used in Projects
  &-title__container {
    position:relative;
    background-color: #e3e6eb;
    display:flex;
    justify-content: center;
  }
  &-title__text{
    background-color: #e3e6eb;
    font-weight: 400;
    z-index:500;
    padding: 0 2rem;
    border: 4px solid black;
    // border-bottom: 4px solid black;
    // border-top: 4px solid black;
    // border-left: 4px solid black;
    // border-right: 4px solid black;
    font-size: 6rem;
  }
  &-title__bar{
    background-color: black;
    height: 4px;
    width:100%;
    position:absolute;
    top:50%;
    z-index:499;
  }

  // New Title in About Me and Skills 
  &__title--left-new{
    text-transform: uppercase;
    position: absolute;
    left: 13rem;
    margin-top: 2rem;
    background-color: #fff;
    font-weight: 400;
    z-index:999;
    padding: 0 2rem;
    border: 4px solid black;
  }
  &__title--right-new{
    text-transform: uppercase;
    position: absolute;
    // left: 13rem;
    right:14rem;
    margin-top: 2rem;
    background-color: #fff;
    font-weight: 400;
    z-index:999;
    padding: 0 2rem;
    border: 4px solid black;
  }
  &__title-underline--full{
    position: absolute;
    height: .6rem;
    width: 100%;
    background-color: black;
    transform: translateY(5.5rem);
    left: 0;
  }

// Old left/right alternating titles
  &__title{
    text-transform: uppercase;
    position: absolute;
    margin-top: 3rem;
    @include respond(tab-port) {
      margin-top: 1rem;
    }
     &--left{
      margin-left: 8rem;
      @include respond(phone) {
        margin-left: 0rem;
      }
     }
     &--right{
       width: 85%;
       text-align: right;
       @include respond(phone) {
        width: auto;
        text-align: auto;
      }
    }
  }
  &__title-underline{
    position: absolute;
    height: .6rem;
    width: 50rem;
    background-color: black;
    transform: translateY(7rem);
    @include respond(tab-port) {
      transform: translateY(6rem);
    }
    @include respond(tab-port) {
      width: 40rem;
    }
    @include respond(phone) {
      width: 100%;
    }
    &--right{
      right: 0;
    }
    &--left{
      left: 0;
    }
  }
  // For arrangement of content inside white overlaying 'tab' of content
  &__content{
    display: flex;
    width: 100%;
    &--column {
      flex-direction: column;
      align-items: center;
    }
    &--row {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &.small-content-padding{
      padding: 12rem 5rem 5rem 5rem;
      @include respond(phone) {
        padding: 12rem 2rem 5rem 2rem;
      }
    }
    &.large-content-padding{
      padding: 12rem 12rem 8rem 12rem;
      @include respond(tab-land) { 
        padding: 10rem 8rem 6rem 8rem;
      }
      @include respond(tab-port) {
        padding: 10rem 2rem 2rem 2rem;
      }
      @include respond(phone) {
        padding: 12rem 2rem 5rem 2rem;
      }
    }
    &.projects {
      justify-content: center;  
      margin: 10rem 0rem;
      @include respond(tab-land) { 
        // margin: 0rem;
        // padding 10rem 2rem;
      }
    }
    &.about {
      align-items: center;
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }
}
// Additional upper spacing for desktop navigation to sections with links in nav bar. 
.section-title__spacer#projects,
.section-title__spacer#contact{
  height: 10rem;
  width: 100%;
  background-color: #e3e6eb;
}

// For project pages:
 // New Title used in Projects
// .section{
//   &-title__container--pages {
//     position:relative;
//     background-color: #fff;
//     display:flex;
//     justify-content: center;
//     margin-top: 2rem;
//   }
//   &-title__text--pages{
//     background-color: #fff;
//     font-weight: 400;
//     z-index:500;
//     padding: 0 2rem;
//     // border-bottom: 4px solid black;
//     // border-top: 4px solid black;
//     font-size: 6rem;
//   }
//   &-title__bar--pages{
//     background-color: black;
//     height: 4px;
//     width:100%;
//     position:absolute;
//     top:50%;
//     z-index:499;
//   }
// }
 
/* ---------- BACKGROUNDS - IMAGES + COLOURS ----------*/
//Only for setup and alignment of background images, or colour, for each section
.background-fixed {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  &--header{
    // Photo by Jesus Kiteque on Unsplash
    background-image: url(images/vendors/jesus-kiteque-224069-unsplash.jpg);
  }
  &--skills,
  &--projects,
  &--credits{
    // Photo by rawpixel on Unsplash
    // background-image: url(images/vendors/rawpixel-558599-unsplash-min.jpg);
    // @include respond(tab-port) {
    //   background-position: right;
    // }
    background-color: #e3e6eb;
  }
}
.background-plain {
  &--about{
    background-color: $color-background1;
  }
}
// -------------------------------------- //
// ---------- SECTION - HEADER ---------- //
// -------------------------------------- //
.header{
  height: 100vh;
  &__navigation{
    display: flex;
    align-items: center;
    &-logo {
      height: 10rem;
      width: auto;
      margin-right: auto;
      @include respond(phone) {
        height: 7rem;
      }
    }
    &-links{
      position: absolute;
      right: 10rem;
      top: 6rem;
      z-index: 1000;
      @include respond(tab-land) { 
       right: 5rem;
      }
      @include respond(tab-port) { 
        display: none;
      }
      &-link:not(:last-child){
        margin-right: 2rem;
      }
      &-link{
        text-transform: uppercase;
        &:link,
        &:visited{
          color: black;
        }
        &:hover,
        &:active {
          border-bottom: 1px solid black;
          cursor: pointer;
        }
      }
    }
    & .header__navigation-logo--grey{
      display: none;
    }
  }
  &__text{
    margin-top: 10rem;
    @include respond(phone) {
      margin-top: 0rem;
    }
    &--name{
      word-spacing: 1rem;
      letter-spacing: .5rem;
      font-weight: 400;
      text-align: center;
    }
    &--position,
    &--phrase {
      text-transform: uppercase;
      margin-left: .5rem;
      text-align: center;
    }
  }
  &__links{
    display: flex;
    align-self: center;
  }
}
//For mobile navigation bars + functionality 
.header__navigation {
  &-checkbox{
    display: none;
  }
  &-button{
    // Clickable element connected to checkbox
    position: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    margin-top: 1rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
    @include respond(tab-port) { 
      display: inline-block;
    }
    @include respond(phone) {
      margin-right: 1rem;
    }
  }
  &-icon{
    position: relative;
    margin-top: 2rem;
    margin-left: .5rem;
    z-index: 1001;
    &,
    &::before,
    &::after{
      width: 3.5rem;
      height: .6rem;
      background-color:  $color-dark-grey;
      display: inline-block;
    }
    &::before, 
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }
    &::before {
      top: -1.2rem;
    }
    &::after {
      top: 1.2rem;
    }
  }
  &-button:hover &-icon:before {
    top: -1.5rem;
  }
  &-button:hover &-icon:after {
    top: 1.5rem;
  }
  &-checkbox:checked + &-button &-icon{
    background-color: transparent;
  }
  &-checkbox:checked + &-button &-icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: $color-dark-grey;
    width: 4rem;
    @include respond(phone) {
      background-color: $color-light-grey;
    }
    
  }
  &-checkbox:checked + &-button &-icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: $color-dark-grey;
    width: 4rem;
    @include respond(phone) {
      background-color: $color-light-grey;
    }
  }
  // Functionality of button
  &-checkbox:checked ~ &-links {
    //Had to put this into 'tab-port' media query, otherwise the box would hang around when window was made larger, if the checkbox was checked. 
    @include respond(tab-port) { 
      display: block;
      margin-top: 5rem;
      padding: 2rem 3rem;
      border-radius: 1rem;
      background-color: $color-dark-grey;
      @include respond(phone) {
        display: absolute;
        top: 0;
        left: 0;
        margin: 0rem;
        border-radius: 0rem;
        background-color: $color-dark-grey;
        height: 100vh;
        width: 100vw;
      }
      & .header__navigation-links-link{
        display: block;
        margin: 0;
        text-align: center;
        margin: 20% 0rem;
        color: $color-light-grey;
        &:hover,
        &:active {
          border-bottom: 1px solid white;
          cursor: pointer;
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: $color-dark-grey;
  padding: .5rem 10rem;
  align-items: center;
  z-index: 1001;
  @include respond(tab-port) {
    padding: .5rem 5rem;
  }
  @include respond(phone) {
    padding: .5rem 2rem;
  }
  & .header__navigation-logo{
    height: 5rem;
  }
  & .header__navigation-links{
    top: 2rem;
  }
  & .header__navigation-links-link{
    color: $color-light-grey;
  }
  & .header__navigation-logo {
    display: none;
  }
  & .header__navigation-logo--grey {
    display: block;
    margin-right: auto;
    height: 5rem;
  }
}



// Mobile Sticky navigation
.header__navigation.sticky{
  @include respond(tab-port) {
    & .header__navigation{
      &-button{
        top: 1rem;
        right: 4rem;
      }
      &-icon{
        &,
        &::before,
        &::after {
          background-color:  $color-light-grey;    
        }
      }
    }
  }
}
.header__navigation.sticky .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::before,
.header__navigation.sticky .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::after {
  background-color: $color-light-grey;
}

// Headers for linked pages from main page. Simple. 
.header__navigation--sidepage{
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: $color-dark-grey;
  padding: .5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  @include respond(tab-land) {
    padding: .5rem 3rem;
  }
  & .header__navigation-logo--sidepage{
    // height: 5rem;
    display:flex;
  }
  & .header__navigation-links-link--sidepage{
    color: $color-light-grey;
  }
}
.header__navigation-links--sidepage-large-screens{
  display:flex;
  @include respond(tab-port){
    display: none;
   }
}
.header__navigation-links--sidepage-small-screens{
  display:none;
  @include respond(tab-port){
    display: flex;
   }
}

// ------------------------------------- //
// ---------- SECTION - ABOUT ---------- //
// ------------------------------------- //
.about-me {
  &__image {
    height: 30rem;
    border-radius: 20%;
  }
  &__description {
    line-height: 1.5;
    text-align: justify;
    margin-left: 3rem;
    @include respond(tab-port) {
      margin: 2rem;
    }
    @include respond(phone) {
      line-height: 1.2;
      margin: 1rem;
    }

  }
}
// -------------------------------------- //
// ---------- SECTION - SKILLS ---------- //
// -------------------------------------- //
.skills{
  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    @include respond(tab-land) {
      text-align: center;
    }
    &--list{
      margin-left: 2rem;
      @include respond(tab-port) {
        margin-left: 0rem;
        text-align: center;
      }
    }
  }
  &__tiles{
    display: flex;
    margin: 3.5rem 0rem 6.5rem 0rem;
    flex-wrap: wrap;
    justify-content: center;
    &-tile{
      padding: 1.5rem;
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      @include respond(tab-port) {
        padding: .5rem;
      }

      &-logo{
        height: 8rem;
        @include respond(phone) {
          height: 6.5rem;
        }
        &.sass{
          height: 7.5rem;
          @include respond(phone) {
            height: 5rem;
          }
        }
        &.javascript{
          @include respond(tab-port) {
            height: 7rem;
            @include respond(phone) {
              height: 5.5rem;
            }
          }
        }
        &.github{
          height: 9rem;
          transform: translateY(1rem);
          @include respond(phone) {
            height: 7rem;
            transform: translateY(.8rem);
          }
        }
        &.npm{
          height: 5rem;
          @include respond(tab-land) { 
            height: 4rem;
          }
          @include respond(tab-port) {
            height: 3rem;
          }
        }
        &.trello{
          color: #0084D1;
          height: 8rem;
          width: 8rem;
          @include respond(tab-land) { 
            height: 7rem;
            width: 7rem;
          }
          @include respond(phone) {
            height: 6rem;
            width: 6rem;
          }
        }
        &.zeplin{
          @include respond(tab-land) { 
            height: 7rem;
          }
          @include respond(phone) {
            height: 6rem;
          }
        }
        &.slack{
          @include respond(tab-land) { 
            height: 7rem;
            @include respond(tab-port) {
              height: 6rem;
            }
            @include respond(phone) {
              height: 5rem;
            }
          }
        }
        &.rails{
          height: 6rem;
          @include respond(tab-land) { 
            height: 5rem;
          }
          @include respond(phone) {
            height: 3rem;
          }
        }
        &.angular{
          height: 7rem;
          @include respond(tab-land) { 
            height: 6rem;
          }
          @include respond(phone) {
            height: 5rem;
          }
        }
      }
    }
  }
}
.trello {
  width: 11rem;
  height: 11rem;
}

// ---------------------------------------- //
// ---------- SECTION - PROJECTS ---------- //
// ---------------------------------------- //

.comp{
  width: 100%;
  height: 194px;
  text-align: center;
  .monitor{
    width: 275px;
    height: 181px;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    padding: 9px;
    border: solid 1px #e0e2e2;
    background-color: black;
  }
}






.monitor {
  max-width: 400px;
  border: 10px solid black;
  border-radius: 4px 4px 0 0 ;
}
.base {
  width: 450px;
  height: 12px;
  background: #e0e2e2;
  display: block;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  position:relative;
  &-shadow{
    height: 4px;
    width: 450px;
    background-color: #707070;
    position: absolute;
    bottom: 0
  }
  &-indent{
    height: 5px;
    width:40px;
    background-color: #707070;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top:0;
    left: calc(50% - 20px);
  }
}  



.project-tile2 {
  width:90%;
  padding: 5rem;
  margin: 0 0 5rem 0 ;
  border-radius: 10px;
  display:flex;
  justify-content: space-around;
  position:relative;
  &__images{
    position: relative;
    z-index: 401;
  }
  &__computer {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  &__mobile{
    max-width: 80px;
    position: absolute;
    right:0;
    transform: translate(0,50%);
    border: 5px solid black;
    border-radius: 7px;
    z-index: 402;
  }
  &__background {
    border: 2px solid #9EACBF;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3rem 3rem 3rem 10rem;
    height: 100%;
    width: 80%;
    border-radius: 20px;
    z-index: 400;
  }
  &__info {
    width: 50%;
    z-index: 401;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title{
      text-align: center;
    }
    &-description{
      padding: 0rem;
    }
    &-buttons{
      display: flex;
      justify-content: center;
      min-width:160px;
    }
  }
}
.projects{
  &__title{
    margin-bottom: 3rem;
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
    &:after{
      content:"";
      position: absolute;
      left: 50%;
      transform: translateX(-11rem) translateY(4rem);
      height: 3px;
      width: 30rem;
      background-color: $color-dark-grey;
      @include respond(phone) {
        position: relative;
        left: auto;
        transform: none;
        width: 100%;
      }
    }
    &.certs:after{
      width: 50rem;
      transform: translateX(-20rem) translateY(4rem);
      @include respond(phone) {
        transform: none;
        width: 100%;
      }
    }
  }
  &__tile-display {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
    flex-wrap: wrap;

  }
}

.project-tile {
  position: relative;
  overflow: hidden;
  height: 20rem;
  width: 30rem;
  border: 2px solid $color-light-grey;
  border-radius: .5rem;
  background-color: white;
  margin: 1rem 2rem;
  &:hover{
    border: 3px solid orange; 
  }
  &.FCC-tile{
    &:hover{
      border: 2px solid $color-light-grey;
    }
  }
  &__img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
  }
  &--links{
    margin: auto 0rem auto 0rem;
  }
}

// --------------------------------------- //
// ---------- SECTION - CONTACT ---------- //
// --------------------------------------- //

.section__contact-title{
  font-weight: 300;
  margin-top: 2rem;
  &-underline{
    height: .6rem;
    width: 50rem;
    background-color: black;
    margin-bottom: 4rem;
    @include respond(tab-port) {
      width: 35rem;
    }
    @include respond(phone) {
      width: 100%;
    }
    &--contact{
      height: .3rem;
    }
  }
}

// .btn-icon--envelope {
//   height: 100px;
// }

// -------------------------------------- //
// ---------- SECTION - FOOTER ---------- //
// -------------------------------------- //
.footer {
  background-color: $color-dark-grey;
  padding: 3rem;
  color:  #8994a3;
  &__links{
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
    &-navigation{
      @include respond(tab-port) {
        margin-bottom: 2rem;
      }
      @include respond(phone) {
        display: none;
      }
    }
  }
  &__link{
    margin: 0rem 1rem;
    @include respond(phone) {
      margin: 0rem 1rem;
    }
    &:link, 
    &:visited{
      color:  $color-light-grey;
      transition: color 0.2s;
    }
    &:hover, 
    &:active {
      color: $color-links-hover;
    }
    &--linkedin:hover {
      color: #007bb5;
    }
    &--github:hover {
      color: #4078c0;
    }
    &--twitter:hover {
      color: #1da1f2;
    }
    &--codepen:hover {
      color: #d2d4d8;
    }
    &--freecodecamp:hover {
      color: #006400;
    }
  }
  &__copyright{
    text-align: center;
    @include respond(tab-land) {
      margin-top: 2rem;
    }
  }
  &__projects{
    text-align: center;
    &-link:link, 
    &-link:visited {
      color: $color-light-grey;
      transition: color 0.2s;
    }
    &-link:hover,
    &-link:active{
      color: $color-links-hover;
    }
  }
}
.footer__link-icon {
  height: 3rem;
  @include respond(phone) {
    height: 2.5rem;
  }
}
// ---------------------------------------------- //
// ---------- MOBILE-SPECIFIC ELEMENTS ---------- //
// ---------------------------------------------- //
.mobile-element {
  display: none;
  @include respond(phone) {
    display: inline-block;
  }
}

// ----------------------------------------- //
// ---------- PAGE - PROJECT INFO ---------- //
// ----------------------------------------- //

.project{
  &__content{
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 0rem;
    @include respond(tab-land) {
      margin: 2rem;
    }
  }
  &__visit-site{
    width: fit-content;
    margin-right: 0%;
  }

  &__slider{
    width: 80%;
    max-width: 70rem;
    margin: 5rem auto 7rem auto;
    @include respond(tab-land) {
      margin: 2rem auto 5rem auto;
    }
  }

  &__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    &-btn{
      width: 22rem;
    }
    &--cert{
      margin-bottom: 0rem;
      @include respond(phone) {
        display: flex;
        flex-direction: column;
      }
    }
    &--udemy{
      margin: 0;
      justify-content: left;
    }
  }
  &__writeup{
    &-text{
      margin: 2rem 0rem;
      &--FCC,
      &--techByUs {
        margin-bottom: 1rem;
      }
      &--udemy{
        margin: 0;
      }
    }
    &-list{
      margin-left: 5rem;
      margin-top: 2rem;
    }
  }
  &__group{
    display: flex;
    align-items: center;
    @include respond(tab-port) {
      flex-wrap: wrap;
      justify-content: center;
    }
    & .project__writeup-title {
      margin-left: 3rem;
      flex: 0 0 40%;
      @include respond(tab-port) {
        flex: 100%;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
  &__code{
    display: none;
    margin-bottom: 5rem;
    &-block{
      margin-top: 5rem;
    }
    &-title{
      font-weight: 700;
    }
    &-description{
      margin-bottom: 1rem;
    }
    &--javascript{
      display: none;
      width: 100%;
      min-width: 110rem;
      margin-bottom: 4rem;
    }
  }
  &__course-group{
    margin-bottom: 3rem;
    &-header{
      display: flex;
      & .btn{
        margin-left: auto;
      }
    }
    &-completed {
      border-bottom: 1px solid $color-mid-grey ;
    }
  }
}
.spacer-top {
  margin-top: 2rem;
}
// ----------------------------- //
// ---------- CREDITS ---------- //
// ----------------------------- //
.credit-element {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items:center;
}

// ---------------------------------------- //
// ---------- ANIMATION SPECIFIC ---------- //
// ---------------------------------------- //

.animation-preset {
  opacity: 0;
}