* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:link,
a:visited {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", "Arial", sans-serif;
  color: #555; }

h1, h2, h3 {
  text-transform: uppercase;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  color: #000; }

h1 {
  font-weight: 300; }

input[type=text],
input[type=email],
textarea {
  font-family: "Lato", "Arial", sans-serif; }

body {
  font-size: 2rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      font-size: 1.8rem; } }

h1 {
  font-size: 8rem; }
  @media only screen and (max-width: 56.25em) {
    h1 {
      font-size: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }
  @media only screen and (max-width: 75em) {
    h3 {
      font-size: 2.5rem; } }

input[type="submit"] {
  font-size: 2rem; }

.footer {
  font-size: 2rem; }

.header__navigation-links-link {
  font-size: 2rem; }

.header__text--position, .header__text--phrase {
  font-size: 2.6rem;
  font-weight: 100; }
  @media only screen and (max-width: 37.5em) {
    .header__text--position, .header__text--phrase {
      font-size: 2rem; } }

.skills__text--list {
  font-size: 2.2rem; }
  @media only screen and (max-width: 56.25em) {
    .skills__text--list {
      font-size: 1.8rem; } }

.tinkering-tile__image-text {
  font-size: 1.4rem; }

input[type=text],
input[type=email],
textarea {
  font-size: 2rem; }
  @media only screen and (max-width: 56.25em) {
    input[type=text],
    input[type=email],
    textarea {
      font-size: 1.6rem; } }

/* ---------- BUTTONS ----------*/
.btn,
.btn-icon:link,
.btn-icon:visited,
input[type="submit"] {
  border: 1px solid #9EACBF;
  color: white;
  margin: .5rem;
  padding: .5rem 2rem;
  text-decoration: none;
  border-radius: 20rem;
  -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  background-color: #9EACBF;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .btn,
    .btn-icon:link,
    .btn-icon:visited,
    input[type="submit"] {
      padding: .5rem 1.2rem;
      margin: .3rem; } }

.btn:hover,
.btn-icon:hover,
.btn-icon:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #1B1F25;
  border: 1px solid #1B1F25;
  cursor: pointer; }

.btn-icon--linkedin:hover {
  color: #007bb5; }

.btn-icon--github:hover {
  color: #4078c0; }

.btn-icon--twitter:hover {
  color: #1da1f2; }

.btn-icon--codepen:hover {
  color: #d2d4d8; }

.btn-icon--freecodecamp:hover {
  color: #006400; }

.btn-icon svg {
  height: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .btn-icon svg {
      height: 2.5rem; } }

.btn-coming-soon:hover {
  background-color: #9EACBF;
  border: 1px solid #9EACBF;
  cursor: auto; }

.section {
  display: flex; }
  .section__container {
    background-color: white;
    height: fit-content; }
    @media only screen and (max-width: 37.5em) {
      .section__container:not(.header) {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .section__container--left {
      border-radius: 0rem 6.5rem 6.5rem 0rem;
      width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .section__container--left {
          border-radius: 0rem; } }
      .section__container--left.skills {
        margin: 30rem 8rem 20rem 0rem;
        background-color: rgba(255, 255, 255, 0.9); }
        @media only screen and (max-width: 56.25em) {
          .section__container--left.skills {
            margin: 20rem 4rem 10rem 0rem; } }
        @media only screen and (max-width: 37.5em) {
          .section__container--left.skills {
            margin: 20rem 0rem 10rem 0rem; } }
    .section__container--right {
      border-radius: 6.5rem 0rem 0rem 4rem; }
      @media only screen and (max-width: 37.5em) {
        .section__container--right {
          border-radius: 0rem; } }
      .section__container--right.about {
        margin: 5rem 0rem 5rem 8rem; }
        @media only screen and (max-width: 56.25em) {
          .section__container--right.about {
            margin: 2.5rem 0rem 2.5rem 4rem; } }
        @media only screen and (max-width: 37.5em) {
          .section__container--right.about {
            margin: 7rem 0rem; } }
      .section__container--right.projects {
        background-color: rgba(255, 255, 255, 0.9);
        margin: 5rem 0rem 20rem 8rem;
        width: 100%; }
        @media only screen and (max-width: 75em) {
          .section__container--right.projects {
            margin: 5rem 0rem 5rem 5rem; } }
        @media only screen and (max-width: 37.5em) {
          .section__container--right.projects {
            margin: 5rem 0rem 5rem 0rem; } }
      .section__container--right.credits {
        width: 100%;
        margin: 13rem 0rem 5rem 8rem; }
    .section__container.header {
      padding: 2rem 10rem .5rem 10rem;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between; }
      @media only screen and (max-width: 75em) {
        .section__container.header {
          padding: 2rem 5rem; } }
      @media only screen and (max-width: 37.5em) {
        .section__container.header {
          padding: 1rem; } }
    .section__container.contact {
      background-color: rgba(255, 255, 255, 0.85);
      justify-content: center;
      width: 80%;
      border-radius: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .section__container.contact {
          width: 100%;
          border-radius: 0rem; } }
  .section-title__container {
    position: relative;
    background-color: #e3e6eb;
    display: flex;
    justify-content: center; }
  .section-title__text {
    background-color: #e3e6eb;
    font-weight: 400;
    z-index: 500;
    padding: 0 2rem;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    font-size: 6rem; }
  .section-title__bar {
    background-color: black;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 499; }
  .section__title {
    text-transform: uppercase;
    position: absolute;
    margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .section__title {
        margin-top: 1rem; } }
    .section__title--left {
      margin-left: 8rem; }
      @media only screen and (max-width: 37.5em) {
        .section__title--left {
          margin-left: 0rem; } }
    .section__title--right {
      width: 85%;
      text-align: right; }
      @media only screen and (max-width: 37.5em) {
        .section__title--right {
          width: auto;
          text-align: auto; } }
  .section__title-underline {
    position: absolute;
    height: .6rem;
    width: 50rem;
    background-color: black;
    transform: translateY(7rem); }
    @media only screen and (max-width: 56.25em) {
      .section__title-underline {
        transform: translateY(6rem); } }
    @media only screen and (max-width: 56.25em) {
      .section__title-underline {
        width: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .section__title-underline {
        width: 100%; } }
    .section__title-underline--right {
      right: 0; }
    .section__title-underline--left {
      left: 0; }
  .section__content {
    display: flex;
    width: 100%; }
    .section__content--column {
      flex-direction: column;
      align-items: center; }
    .section__content--row {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap; }
    .section__content.small-content-padding {
      padding: 12rem 5rem 5rem 5rem; }
      @media only screen and (max-width: 37.5em) {
        .section__content.small-content-padding {
          padding: 12rem 2rem 5rem 2rem; } }
    .section__content.large-content-padding {
      padding: 12rem 12rem 8rem 12rem; }
      @media only screen and (max-width: 75em) {
        .section__content.large-content-padding {
          padding: 10rem 8rem 6rem 8rem; } }
      @media only screen and (max-width: 56.25em) {
        .section__content.large-content-padding {
          padding: 10rem 2rem 2rem 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .section__content.large-content-padding {
          padding: 12rem 2rem 5rem 2rem; } }
    .section__content.projects {
      justify-content: center;
      margin: 10rem 0rem; }
    .section__content.about {
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .section__content.about {
          flex-direction: column; } }

/* ---------- BACKGROUNDS - IMAGES + COLOURS ----------*/
.background-fixed {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }
  .background-fixed--header {
    background-image: url(images/vendors/jesus-kiteque-224069-min.jpg); }
  .background-fixed--skills, .background-fixed--projects, .background-fixed--credits {
    background-color: #e3e6eb; }

.background-plain--about {
  background-color: #7f94b4; }

.header {
  height: 100vh; }
  .header__navigation {
    display: flex;
    align-items: center; }
    .header__navigation-logo {
      height: 10rem;
      width: auto;
      margin-right: auto; }
      @media only screen and (max-width: 37.5em) {
        .header__navigation-logo {
          height: 7rem; } }
    .header__navigation-links {
      position: absolute;
      right: 10rem;
      top: 6rem;
      z-index: 1000; }
      @media only screen and (max-width: 75em) {
        .header__navigation-links {
          right: 5rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__navigation-links {
          display: none; } }
      .header__navigation-links-link:not(:last-child) {
        margin-right: 2rem; }
      .header__navigation-links-link {
        text-transform: uppercase; }
        .header__navigation-links-link:link, .header__navigation-links-link:visited {
          color: black; }
        .header__navigation-links-link:hover, .header__navigation-links-link:active {
          border-bottom: 1px solid black;
          cursor: pointer; }
    .header__navigation .header__navigation-logo--grey {
      display: none; }
  .header__text {
    margin-top: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .header__text {
        margin-top: 0rem; } }
    .header__text--name {
      word-spacing: 1rem;
      letter-spacing: .5rem; }
    .header__text--position, .header__text--phrase {
      text-transform: uppercase;
      margin-left: .5rem; }
  .header__links {
    display: flex;
    align-self: center; }

.header__navigation-checkbox {
  display: none; }

.header__navigation-button {
  position: inline-block;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 1rem;
  cursor: pointer;
  display: none;
  z-index: 1001; }
  @media only screen and (max-width: 56.25em) {
    .header__navigation-button {
      display: inline-block; } }
  @media only screen and (max-width: 37.5em) {
    .header__navigation-button {
      margin-right: 1rem; } }

.header__navigation-icon {
  position: relative;
  margin-top: 2rem;
  margin-left: .5rem;
  z-index: 1001; }
  .header__navigation-icon, .header__navigation-icon::before, .header__navigation-icon::after {
    width: 3.5rem;
    height: .6rem;
    background-color: #1B1F25;
    display: inline-block; }
  .header__navigation-icon::before, .header__navigation-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .header__navigation-icon::before {
    top: -1.2rem; }
  .header__navigation-icon::after {
    top: 1.2rem; }

.header__navigation-button:hover .header__navigation-icon:before {
  top: -1.5rem; }

.header__navigation-button:hover .header__navigation-icon:after {
  top: 1.5rem; }

.header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon {
  background-color: transparent; }

.header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #1B1F25;
  width: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::before {
      background-color: #9EACBF; } }

.header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #1B1F25;
  width: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::after {
      background-color: #9EACBF; } }

@media only screen and (max-width: 56.25em) {
  .header__navigation-checkbox:checked ~ .header__navigation-links {
    display: block;
    margin-top: 5rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: #1B1F25; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .header__navigation-checkbox:checked ~ .header__navigation-links {
      display: absolute;
      top: 0;
      left: 0;
      margin: 0rem;
      border-radius: 0rem;
      background-color: #1B1F25;
      height: 100vh;
      width: 100vw; } }

@media only screen and (max-width: 56.25em) {
    .header__navigation-checkbox:checked ~ .header__navigation-links .header__navigation-links-link {
      display: block;
      margin: 0;
      text-align: center;
      margin: 20% 0rem;
      color: #9EACBF; }
      .header__navigation-checkbox:checked ~ .header__navigation-links .header__navigation-links-link:hover, .header__navigation-checkbox:checked ~ .header__navigation-links .header__navigation-links-link:active {
        border-bottom: 1px solid white;
        cursor: pointer; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: #1B1F25;
  padding: .5rem 10rem;
  align-items: center;
  z-index: 1001; }
  @media only screen and (max-width: 56.25em) {
    .sticky {
      padding: .5rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .sticky {
      padding: .5rem 2rem; } }
  .sticky .header__navigation-logo {
    height: 5rem; }
  .sticky .header__navigation-links {
    top: 2rem; }
  .sticky .header__navigation-links-link {
    color: #9EACBF; }
  .sticky .header__navigation-logo {
    display: none; }
  .sticky .header__navigation-logo--grey {
    display: block;
    margin-right: auto;
    height: 5rem; }

@media only screen and (max-width: 56.25em) {
  .header__navigation.sticky .header__navigation-button {
    top: 1rem;
    right: 4rem; }
  .header__navigation.sticky .header__navigation-icon, .header__navigation.sticky .header__navigation-icon::before, .header__navigation.sticky .header__navigation-icon::after {
    background-color: #9EACBF; } }

.header__navigation.sticky .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::before,
.header__navigation.sticky .header__navigation-checkbox:checked + .header__navigation-button .header__navigation-icon::after {
  background-color: #9EACBF; }

.header__navigation--sidepage {
  width: 100%;
  box-shadow: 0 5px 5px #1B1F25;
  background-color: #1B1F25;
  padding: .5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content; }
  @media only screen and (max-width: 75em) {
    .header__navigation--sidepage {
      padding: .5rem 3rem; } }
  .header__navigation--sidepage .header__navigation-logo--sidepage {
    height: 5rem; }
  .header__navigation--sidepage .header__navigation-links-link--sidepage {
    color: #9EACBF; }

.about-me__image {
  height: 30rem;
  border-radius: 20%; }

.about-me__description {
  line-height: 1.5;
  text-align: justify;
  margin-left: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .about-me__description {
      margin: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .about-me__description {
      line-height: 1.2;
      margin: 1rem; } }

.skills__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem; }
  @media only screen and (max-width: 75em) {
    .skills__text {
      text-align: center; } }
  .skills__text--list {
    margin-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .skills__text--list {
        margin-left: 0rem;
        text-align: center; } }

.skills__tiles {
  display: flex;
  margin: 3.5rem 0rem 6.5rem 0rem;
  flex-wrap: wrap;
  justify-content: center; }
  .skills__tiles-tile {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .skills__tiles-tile {
        padding: .5rem; } }
    .skills__tiles-tile-logo {
      height: 8rem; }
      @media only screen and (max-width: 37.5em) {
        .skills__tiles-tile-logo {
          height: 6.5rem; } }
      .skills__tiles-tile-logo.sass {
        height: 7.5rem; }
        @media only screen and (max-width: 37.5em) {
          .skills__tiles-tile-logo.sass {
            height: 5rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__tiles-tile-logo.javascript {
          height: 7rem; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .skills__tiles-tile-logo.javascript {
      height: 5.5rem; } }
      .skills__tiles-tile-logo.github {
        height: 9rem;
        transform: translateY(1rem); }
        @media only screen and (max-width: 37.5em) {
          .skills__tiles-tile-logo.github {
            height: 7rem;
            transform: translateY(0.8rem); } }
      .skills__tiles-tile-logo.npm {
        height: 5rem; }
        @media only screen and (max-width: 75em) {
          .skills__tiles-tile-logo.npm {
            height: 4rem; } }
        @media only screen and (max-width: 56.25em) {
          .skills__tiles-tile-logo.npm {
            height: 3rem; } }
      .skills__tiles-tile-logo.trello {
        color: #0084D1;
        height: 8rem;
        width: 8rem; }
        @media only screen and (max-width: 75em) {
          .skills__tiles-tile-logo.trello {
            height: 7rem;
            width: 7rem; } }
        @media only screen and (max-width: 37.5em) {
          .skills__tiles-tile-logo.trello {
            height: 6rem;
            width: 6rem; } }
      @media only screen and (max-width: 75em) {
        .skills__tiles-tile-logo.zeplin {
          height: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .skills__tiles-tile-logo.zeplin {
          height: 6rem; } }
      @media only screen and (max-width: 75em) {
        .skills__tiles-tile-logo.slack {
          height: 7rem; } }
  @media only screen and (max-width: 75em) and (max-width: 56.25em) {
    .skills__tiles-tile-logo.slack {
      height: 6rem; } }
  @media only screen and (max-width: 75em) and (max-width: 37.5em) {
    .skills__tiles-tile-logo.slack {
      height: 5rem; } }
      .skills__tiles-tile-logo.rails {
        height: 6rem; }
        @media only screen and (max-width: 75em) {
          .skills__tiles-tile-logo.rails {
            height: 5rem; } }
        @media only screen and (max-width: 37.5em) {
          .skills__tiles-tile-logo.rails {
            height: 3rem; } }
      .skills__tiles-tile-logo.angular {
        height: 7rem; }
        @media only screen and (max-width: 75em) {
          .skills__tiles-tile-logo.angular {
            height: 6rem; } }
        @media only screen and (max-width: 37.5em) {
          .skills__tiles-tile-logo.angular {
            height: 5rem; } }

.trello {
  width: 11rem;
  height: 11rem; }

.comp {
  width: 100%;
  height: 194px;
  text-align: center; }
  .comp .monitor {
    width: 275px;
    height: 181px;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    padding: 9px;
    border: solid 1px #e0e2e2;
    background-color: black; }

.monitor {
  max-width: 400px;
  border: 10px solid black;
  border-radius: 4px 4px 0 0; }

.base {
  width: 450px;
  height: 12px;
  background: #e0e2e2;
  display: block;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  position: relative; }
  .base-shadow {
    height: 4px;
    width: 450px;
    background-color: #707070;
    position: absolute;
    bottom: 0; }
  .base-indent {
    height: 5px;
    width: 40px;
    background-color: #707070;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: 0;
    left: calc(50% - 20px); }

.project-tile2 {
  width: 90%;
  padding: 5rem;
  margin: 0 0 5rem 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  position: relative; }
  .project-tile2__images {
    position: relative;
    z-index: 401; }
  .project-tile2__computer {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .project-tile2__mobile {
    max-width: 80px;
    position: absolute;
    right: 0;
    transform: translate(0, 50%);
    border: 5px solid black;
    border-radius: 7px;
    z-index: 402; }
  .project-tile2__background {
    border: 2px solid #9EACBF;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3rem 3rem 3rem 10rem;
    height: 100%;
    width: 80%;
    border-radius: 20px;
    z-index: 400; }
  .project-tile2__info {
    width: 50%;
    z-index: 401;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .project-tile2__info-title {
      text-align: center; }
    .project-tile2__info-description {
      padding: 0rem; }
    .project-tile2__info-buttons {
      display: flex;
      justify-content: center;
      min-width: 160px; }

.projects__title {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .projects__title {
      display: flex;
      flex-direction: column; } }
  .projects__title:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-11rem) translateY(4rem);
    height: 3px;
    width: 30rem;
    background-color: #1B1F25; }
    @media only screen and (max-width: 37.5em) {
      .projects__title:after {
        position: relative;
        left: auto;
        transform: none;
        width: 100%; } }
  .projects__title.certs:after {
    width: 50rem;
    transform: translateX(-20rem) translateY(4rem); }
    @media only screen and (max-width: 37.5em) {
      .projects__title.certs:after {
        transform: none;
        width: 100%; } }

.projects__tile-display {
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
  flex-wrap: wrap; }

.project-tile {
  position: relative;
  overflow: hidden;
  height: 20rem;
  width: 30rem;
  border: 2px solid #9EACBF;
  border-radius: .5rem;
  background-color: white;
  margin: 1rem 2rem; }
  .project-tile:hover {
    border: 3px solid orange; }
  .project-tile.FCC-tile:hover {
    border: 2px solid #9EACBF; }
  .project-tile__img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: 90%;
    max-width: 90%; }
  .project-tile--links {
    margin: auto 0rem auto 0rem; }

.section__contact-title {
  font-weight: 300;
  margin-top: 2rem; }
  .section__contact-title-underline {
    height: .6rem;
    width: 50rem;
    background-color: black;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .section__contact-title-underline {
        width: 35rem; } }
    @media only screen and (max-width: 37.5em) {
      .section__contact-title-underline {
        width: 100%; } }
    .section__contact-title-underline--contact {
      height: .3rem; }

.footer {
  background-color: #1B1F25;
  padding: 3rem;
  color: #8994a3; }
  .footer__links {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__links {
        flex-direction: column;
        align-items: center; } }
    @media only screen and (max-width: 56.25em) {
      .footer__links-navigation {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__links-navigation {
        display: none; } }
  .footer__link {
    margin: 0rem 1rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__link {
        margin: 0rem 1rem; } }
    .footer__link:link, .footer__link:visited {
      color: #9EACBF;
      transition: color 0.2s; }
    .footer__link:hover, .footer__link:active {
      color: #d2d4d8; }
    .footer__link--linkedin:hover {
      color: #007bb5; }
    .footer__link--github:hover {
      color: #4078c0; }
    .footer__link--twitter:hover {
      color: #1da1f2; }
    .footer__link--codepen:hover {
      color: #d2d4d8; }
    .footer__link--freecodecamp:hover {
      color: #006400; }
  .footer__copyright {
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .footer__copyright {
        margin-top: 2rem; } }
  .footer__projects {
    text-align: center; }
    .footer__projects-link:link, .footer__projects-link:visited {
      color: #9EACBF;
      transition: color 0.2s; }
    .footer__projects-link:hover, .footer__projects-link:active {
      color: #d2d4d8; }

.footer__link-icon {
  height: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__link-icon {
      height: 2.5rem; } }

.mobile-element {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .mobile-element {
      display: inline-block; } }

.project__content {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 0rem; }
  @media only screen and (max-width: 75em) {
    .project__content {
      margin: 2rem; } }

.project__visit-site {
  width: fit-content;
  margin-right: 0%; }

.project__slider {
  width: 80%;
  max-width: 70rem;
  margin: 5rem auto 7rem auto; }
  @media only screen and (max-width: 75em) {
    .project__slider {
      margin: 2rem auto 5rem auto; } }

.project__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }
  .project__buttons-btn {
    width: 22rem; }
  .project__buttons--cert {
    margin-bottom: 0rem; }
    @media only screen and (max-width: 37.5em) {
      .project__buttons--cert {
        display: flex;
        flex-direction: column; } }
  .project__buttons--udemy {
    margin: 0;
    justify-content: left; }

.project__writeup-text {
  margin: 2rem 0rem; }
  .project__writeup-text--FCC, .project__writeup-text--techByUs {
    margin-bottom: 1rem; }
  .project__writeup-text--udemy {
    margin: 0; }

.project__writeup-list {
  margin-left: 5rem;
  margin-top: 2rem; }

.project__group {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .project__group {
      flex-wrap: wrap;
      justify-content: center; } }
  .project__group .project__writeup-title {
    margin-left: 3rem;
    flex: 0 0 40%; }
    @media only screen and (max-width: 56.25em) {
      .project__group .project__writeup-title {
        flex: 100%;
        text-align: center;
        margin-top: 2rem; } }

.project__code {
  display: none;
  margin-bottom: 5rem; }
  .project__code-block {
    margin-top: 5rem; }
  .project__code-title {
    font-weight: 700; }
  .project__code-description {
    margin-bottom: 1rem; }
  .project__code--javascript {
    display: none;
    width: 100%;
    min-width: 110rem;
    margin-bottom: 4rem; }

.project__course-group {
  margin-bottom: 3rem; }
  .project__course-group-header {
    display: flex; }
    .project__course-group-header .btn {
      margin-left: auto; }
  .project__course-group-completed {
    border-bottom: 1px solid #555; }

.spacer-top {
  margin-top: 2rem; }

.credit-element {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.animation-preset {
  opacity: 0; }
