* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:link,
a:visited {
  text-decoration: none; }

html {
  /* Setting HTML font to 62.5% allows user to zoon in and out while giving us the 10px base font to work with */
  /* Later allows for easier use of rem - note: rem not compatible with ES9 */
  font-size: 62.5%; }

body {
  font-family: "Lato", "Arial", sans-serif;
  color: #555; }

h1, h2, h3 {
  text-transform: uppercase;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  color: #000; }

h1 {
  font-weight: 300; }

body {
  font-size: 2rem; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

p {
  font-size: 2.2rem; }

section {
  display: flex; }

.section--right {
  padding: 5rem 0rem 5rem 8rem; }

.section--left {
  padding: 5rem 8rem 3.5rem 0rem; }

.section__title {
  text-transform: uppercase;
  position: absolute;
  margin-top: 2rem; }
  .section__title--left {
    margin-left: 8rem; }
  .section__title--right {
    display: block;
    width: 85%;
    text-align: right; }

.section__title-underline {
  position: absolute;
  height: .6rem;
  width: 50rem;
  background-color: black;
  transform: translateY(7rem); }
  .section__title-underline--right {
    right: 0; }
  .section__title-underline--left {
    left: 0; }

.section__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  width: 100%; }
  .section__content-left {
    border-radius: 0rem 6.5rem 6.5rem 0rem; }
  .section__content-right {
    border-radius: 6.5rem 0rem 0rem 4rem; }
  .section__content--column {
    flex-direction: column;
    align-items: center; }
  .section__content--row {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .section__content.small-section-content-padding {
    padding: 12rem 5rem 5rem 5rem; }
  .section__content.large-section-content-padding {
    padding: 12rem 12rem 8rem 12rem; }
  .section__content.contact-form-padding {
    padding: 10rem; }

.section__about-me {
  background-color: #8595ad; }

.section__skills {
  background-color: #5978a6; }

.section__projects {
  background-color: #3d5e8f; }

.section__tinkering {
  background-color: #264573; }

.section__contact {
  background-color: white; }

header {
  background-image: url(img/jesus-kiteque-224069-min.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed; }

.navigation {
  padding: 1.5rem 3rem;
  display: flex; }
  .navigation__logo {
    height: 7rem;
    width: auto;
    margin-right: auto; }
  .navigation__links {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 1.5rem; }
    .navigation__links-link {
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 1.5rem;
      font-family: "Lato", "Arial", sans-serif;
      font-size: 2rem;
      color: black; }
      .navigation__links-link:link, .navigation__links-link:visited {
        color: black; }
      .navigation__links-link:hover, .navigation__links-link:active {
        border-bottom: 1px solid black;
        cursor: pointer; }

.header__text--name {
  word-spacing: 1rem;
  letter-spacing: .1rem; }

.header__links {
  display: flex; }
  .header__links-button {
    height: 5rem;
    width: 8rem;
    padding: .5rem;
    background-color: white;
    border-radius: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem; }
    .header__links-button-link:link, .header__links-button-link:visited {
      color: black; }
    .header__links-button-link:hover, .header__links-button-link:active {
      cursor: pointer; }
    .header__links-button-icon {
      height: 3.5rem; }

.about-me__image {
  height: 32rem;
  border-radius: 20%; }

.about-me__description {
  line-height: 1.5;
  width: 75%;
  margin: auto 0rem auto auto;
  text-align: justify; }

.skills__tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5rem 0rem 6.5rem 0rem; }
  .skills__tiles-tile {
    height: 11rem;
    width: 11rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .skills__tiles-tile-logo {
      width: 8rem; }

.trello {
  width: 11rem;
  height: 11rem; }

.tool-icon {
  width: 4rem;
  height: 4rem;
  margin: 0rem 1rem;
  color: #7f94b4; }

.project-tile-full {
  display: flex;
  align-items: center;
  width: 80rem;
  border-radius: 3.5rem;
  margin: 3.5rem auto;
  box-shadow: 8px 8px 40px 8px #888888;
  padding: 2.5rem; }
  .project-tile-full__left {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .project-tile-full__left-image {
      width: 80%;
      border: 2px solid #7f94b4;
      border-radius: .5rem; }
    .project-tile-full__left-links {
      margin-top: 2rem; }
      .project-tile-full__left-links-link {
        margin: 0rem 1rem; }
        .project-tile-full__left-links-link:link, .project-tile-full__left-links-link:visited {
          color: #7f94b4; }
        .project-tile-full__left-links-link:hover, .project-tile-full__left-links-link:active {
          cursor: pointer;
          color: #264573; }
      .project-tile-full__left-links-icon {
        height: 5rem;
        width: 5rem; }
  .project-tile-full__right {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5rem;
    font-family: "Lato", "Arial", sans-serif; }
    .project-tile-full__right-title {
      font-family: "Lato", "Arial", sans-serif;
      font-weight: 400;
      margin-bottom: 2rem;
      border-bottom: 1px solid black; }
    .project-tile-full__right-description {
      text-align: justify;
      line-height: 1.5; }
    .project-tile-full__right-tools {
      margin: 2rem 0rem; }
      .project-tile-full__right-tools-icons {
        display: flex;
        flex-direction: row;
        justify-content: center; }

.tinkering-tile {
  width: 50rem;
  border-radius: 3.5rem;
  margin: 1rem;
  box-shadow: 5px 5px 25px 5px #888888;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tinkering-tile__title {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black; }
  .tinkering-tile__image {
    width: 70%;
    height: 20rem;
    border: 5px solid white;
    border-radius: 1rem; }
    .tinkering-tile__image:hover {
      border: 5px solid #f000fc; }
    .tinkering-tile__image-link {
      display: flex;
      justify-content: center;
      align-items: center; }
    .tinkering-tile__image-text {
      font-size: 1.4rem; }
  .tinkering-tile__description {
    margin: 2rem 0rem; }
    .tinkering-tile__description-icon-icon {
      width: 1.5rem; }
    .tinkering-tile__description-learning-objectives {
      margin-top: 2rem; }
      .tinkering-tile__description-learning-objectives-items {
        margin-left: 3rem; }
        .tinkering-tile__description-learning-objectives-items-item {
          text-indent: -1.6rem; }
          .tinkering-tile__description-learning-objectives-items-item::before {
            content: "";
            display: inline-block;
            height: 0rem;
            width: 0rem;
            border: 3px solid black;
            border-radius: 50%;
            margin-right: .7rem;
            transform: translateY(-3px); }
  .tinkering-tile__tools {
    display: flex;
    flex-direction: column;
    align-items: center; }

.section__contact-title-underline {
  height: .6rem;
  width: 50rem;
  background-color: black;
  margin-bottom: 4rem; }

.contact-form {
  width: 70%; }
  .contact-form__group {
    display: flex;
    margin: 1rem 0rem; }
  .contact-form__label {
    flex: 1 1 35%; }
  .contact-form__input, .contact-form__textarea {
    flex: 1 1 65%;
    line-height: 1.15;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #9EACBF; }
  .contact-form__textarea {
    height: 10rem; }

input[type=text],
input[type=email],
textarea {
  font-size: 2rem; }

footer {
  height: 50rem;
  background-color: grey; }

.mobile-element {
  display: none; }
