* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:link,
a:visited {
  text-decoration: none; }

/* ---------- BUTTONS ----------*/
.btn-icon:link,
.btn-icon:visited,
input[type="submit"] {
  border: 1px solid #9EACBF;
  color: #fff;
  margin: 5px;
  padding: .5rem 2rem;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.4s, border 0.4s, color 0.4s;
  transition: background-color 0.4s, border 0.4s, color 0.4s;
  background-color: #9EACBF;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-icon:hover,
.btn-icon:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #1B1F25;
  border: 1px solid #1B1F25;
  cursor: pointer; }

.btn-icon svg {
  height: 3.5rem; }

html {
  /* Setting HTML font to 62.5% allows user to zoon in and out while giving us the 10px base font to work with */
  /* Later allows for easier use of rem - note: rem not compatible with ES9 */
  font-size: 62.5%; }

body {
  font-family: "Lato", "Arial", sans-serif;
  color: #555; }

h1, h2, h3 {
  text-transform: uppercase;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  color: #000; }

h1 {
  font-weight: 300; }

body {
  font-size: 2rem; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

p {
  font-size: 2.2rem; }

input[type="submit"] {
  font-size: 2rem; }

.footer {
  font-size: 2rem; }
  .footer__copyright {
    font-size: 1.6rem; }

.header__text--position, .header__text--phrase {
  font-size: 2.6rem;
  font-weight: 100; }

.section {
  display: flex; }
  .section__container {
    background-color: white;
    height: fit-content; }
    .section__container--left {
      border-radius: 0rem 6.5rem 6.5rem 0rem;
      width: 100%; }
      .section__container--left.skills {
        margin: 30rem 8rem 20rem 0rem; }
      .section__container--left.tinkering {
        margin: 30rem 8rem 20rem 0rem;
        background-color: rgba(255, 255, 255, 0.9); }
    .section__container--right {
      border-radius: 6.5rem 0rem 0rem 4rem; }
      .section__container--right.about {
        margin: 5rem 0rem 5rem 8rem; }
      .section__container--right.projects {
        background-color: rgba(255, 255, 255, 0.9);
        margin: 5rem 0rem 5rem 8rem;
        width: 100%; }
    .section__container.header {
      padding: 2rem 10rem .5rem 10rem;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-between; }
    .section__container.contact {
      background-color: rgba(255, 255, 255, 0.9);
      justify-content: center;
      width: 80%;
      border-radius: 2rem; }
  .section__title {
    text-transform: uppercase;
    position: absolute;
    margin-top: 2rem; }
    .section__title--left {
      margin-left: 8rem; }
    .section__title--right {
      width: 85%;
      text-align: right; }
  .section__title-underline {
    position: absolute;
    height: .6rem;
    width: 50rem;
    background-color: black;
    transform: translateY(7rem); }
    .section__title-underline--right {
      right: 0; }
    .section__title-underline--left {
      left: 0; }
  .section__content {
    display: flex;
    width: 100%; }
    .section__content--column {
      flex-direction: column;
      align-items: center; }
    .section__content--row {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap; }
    .section__content.small-content-padding {
      padding: 12rem 5rem 5rem 5rem; }
    .section__content.large-content-padding {
      padding: 12rem 12rem 8rem 12rem; }

/* ---------- BACKGROUNDS ----------*/
.background-fixed {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }
  .background-fixed--header {
    background-image: url(/img/jesus-kiteque-224069-min.jpg); }
  .background-fixed--skills {
    background-image: url(/img/rawpixel-558599-unsplash.jpg); }
  .background-fixed--projects {
    background-image: url(/img/rawpixel-558599-unsplash.jpg); }
  .background-fixed--contact {
    background-image: url(/img/jeff-kepler-1085049-unsplash.jpg);
    background-blend-mode: overlay;
    background-color: rgba(32, 89, 36, 0.2);
    justify-content: center;
    align-items: center; }

.background-plain--about {
  background-color: #8595ad; }

.header {
  height: 100vh; }
  .header__navigation {
    display: flex; }
    .header__navigation-logo {
      height: 7rem;
      width: auto;
      margin-right: auto; }
    .header__navigation-links {
      height: 6rem;
      display: flex;
      align-items: center;
      padding: 1.5rem; }
      .header__navigation-links-link {
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 2rem; }
        .header__navigation-links-link:link, .header__navigation-links-link:visited {
          color: black; }
        .header__navigation-links-link:hover, .header__navigation-links-link:active {
          border-bottom: 1px solid black;
          cursor: pointer; }
  .header__text {
    margin-top: 10rem; }
    .header__text--name {
      word-spacing: 1rem;
      letter-spacing: .5rem; }
    .header__text--position, .header__text--phrase {
      text-transform: uppercase; }
  .header__links {
    display: flex;
    align-self: center; }

.about-me__image {
  height: 30rem;
  border-radius: 20%; }

.about-me__description {
  line-height: 1.5;
  text-align: justify;
  margin-left: 5rem; }

.skills__text {
  display: flex;
  align-items: center; }
  .skills__text--list {
    margin-left: 2rem; }

.skills__tiles {
  display: flex;
  margin: 3.5rem 0rem 6.5rem 0rem; }
  .skills__tiles-tile {
    height: 11rem;
    width: 11rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .skills__tiles-tile-logo {
      width: 8rem; }

.trello {
  width: 11rem;
  height: 11rem; }

.tool-icon {
  width: 4rem;
  height: 4rem;
  margin: 0rem 1rem;
  color: #7f94b4; }

.project-tile-full {
  background-color: white;
  display: flex;
  align-items: center;
  width: 80rem;
  border-radius: 3.5rem;
  margin: 3.5rem auto;
  box-shadow: 8px 8px 40px 8px #888888;
  padding: 2.5rem; }
  .project-tile-full__left {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .project-tile-full__left-image {
      width: 80%;
      border: 2px solid #7f94b4;
      border-radius: .5rem; }
    .project-tile-full__left-links {
      margin-top: 2rem; }
      .project-tile-full__left-links-link {
        margin: 0rem 1rem; }
        .project-tile-full__left-links-link:link, .project-tile-full__left-links-link:visited {
          color: #7f94b4; }
        .project-tile-full__left-links-link:hover, .project-tile-full__left-links-link:active {
          cursor: pointer;
          color: #264573; }
      .project-tile-full__left-links-icon {
        height: 5rem;
        width: 5rem; }
  .project-tile-full__right {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5rem;
    font-family: "Lato", "Arial", sans-serif; }
    .project-tile-full__right-title {
      font-family: "Lato", "Arial", sans-serif;
      font-weight: 400;
      margin-bottom: 2rem;
      border-bottom: 1px solid black; }
    .project-tile-full__right-description {
      text-align: justify;
      line-height: 1.5; }
    .project-tile-full__right-tools {
      margin: 2rem 0rem; }
      .project-tile-full__right-tools-icons {
        display: flex;
        flex-direction: row;
        justify-content: center; }

.tinkering-tile {
  background-color: white;
  width: 50rem;
  border-radius: 3.5rem;
  margin: 4rem;
  box-shadow: 5px 5px 25px 5px #888888;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tinkering-tile__title {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black; }
  .tinkering-tile__image {
    width: 70%;
    height: 20rem;
    border: 5px solid white;
    border-radius: 1rem; }
    .tinkering-tile__image:hover {
      border: 5px solid #f000fc; }
    .tinkering-tile__image-link {
      display: flex;
      justify-content: center;
      align-items: center; }
    .tinkering-tile__image-text {
      font-size: 1.4rem; }
  .tinkering-tile__description {
    margin: 2rem 0rem; }
    .tinkering-tile__description-icon-icon {
      width: 1.5rem; }
    .tinkering-tile__description-learning-objectives {
      margin-top: 2rem; }
      .tinkering-tile__description-learning-objectives-items {
        margin-left: 3rem; }
        .tinkering-tile__description-learning-objectives-items-item {
          text-indent: -1.6rem; }
          .tinkering-tile__description-learning-objectives-items-item::before {
            content: "";
            display: inline-block;
            height: 0rem;
            width: 0rem;
            border: 3px solid black;
            border-radius: 50%;
            margin-right: .7rem;
            transform: translateY(-3px); }
  .tinkering-tile__tools {
    display: flex;
    flex-direction: column;
    align-items: center; }

.section__contact-title {
  font-weight: 300;
  margin-top: 2rem; }
  .section__contact-title-underline {
    height: .6rem;
    width: 50rem;
    background-color: black;
    margin-bottom: 4rem; }
    .section__contact-title-underline--contact {
      height: .3rem; }

.contact-form {
  width: 70%; }
  .contact-form__group {
    display: flex;
    margin: 1rem 0rem; }
  .contact-form__label {
    flex: 0 0 35%; }
  .contact-form__input, .contact-form__textarea {
    flex: 1 1 65%;
    line-height: 1.15;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #9EACBF; }
  .contact-form__textarea {
    height: 10rem; }

input[type=text],
input[type=email],
textarea {
  font-size: 2rem; }

footer {
  background-color: rgba(27, 31, 37, 0.98);
  padding: 50px;
  color: #8994a3; }

.footer__links {
  display: flex;
  justify-content: space-between; }

.footer__link {
  margin: 0rem 1rem; }
  .footer__link:link, .footer__link:visited {
    color: #8994a3;
    transition: color 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #d2d4d8; }
  .footer__link--linkedin:hover {
    color: #007bb5; }
  .footer__link--github:hover {
    color: #4078c0; }
  .footer__link--twitter:hover {
    color: #1da1f2; }
  .footer__link--codepen:hover {
    color: #d2d4d8; }
  .footer__link--freecodecamp:hover {
    color: #006400; }

.footer__copyright {
  text-align: center; }

.footer__link-icon {
  height: 3rem; }

.mobile-element {
  display: none; }

.tester {
  background-color: orangered; }
